//
// Alerts
// --------------------------------------------------


/* Alerts */
.alert {
    padding: 8px 35px 8px 16px;
    color: $grayDarker;
    border: none;
    background-color: #f1f1f1;
    line-height: $baseLineHeight - 1;
    @include border-radius($baseBorderRadius);
    h4 {
        color: $white;
    }
    &.alert-warning {
        background-color: $organonYellow;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    }
    &.alert-success {
        background-color: $organonGreen;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    }
    &.alert-danger,
    &.alert-error {
        background-color: $organonRed;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    }
    &.alert-info {
        background-color: $organonBlue;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
    }
}

/* Special alert spacing */
.navbar + .alert {
    margin: 0;
    padding: 8px 35px;
    border-bottom: 1px solid $black;
    @include border-radius(0);
    .close {
        float: left;
        top: 0;
        left: -21px;
        line-height: $baseLineHeight;
        @include opacity(25);
        &:hover {
            @include opacity(45);
        }
    }
    &.alert-fixed {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
}
.navbar.navbar-fixed-top + .alert {
    margin-top: 0;
    & + .container-fluid,
    & + .container {
        margin-top: $navbarHeight;
    }
}

