//
// Blockquote
// --------------------------------------------------


/* Blockquote */
blockquote {
    border: none;
    padding: 0 0 0 $baseMargin;
    background-image: url("#{$blockquoteBackground}");
    background-position: left 3px;
    background-repeat: no-repeat;
    small strong {
        color: $headingsColor;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
blockquote.pull-right {
    border: none;
    padding: 0 $baseMargin 0 0;
    background-position: top right;
}

