//
// Brand
// --------------------------------------------------


/* Logo */
.navbar .brand,
.sidebar .brand {
    margin: 0;
    padding: 0;
    @include image-replacer($templateLogo, no-repeat, $navbarHeight - 2, 280px);
    background-position: -10px 0;
}