//
// Breadcrumbs
// --------------------------------------------------


/* Breadcrumbs */
.breadcrumb {
    height: 26px;
    padding: 0;
    display: block;
    font-size: $baseFontSize - 4;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background-color: $dataNestedBackgroundColor;
    border: 1px solid $organonDark;
    @include box-shadow(0 0 0 1px #383838 inset);
    @include border-radius($baseBorderRadius);
    @include clearfix();
    li {
        margin: 0;
        padding: 3px 15px 3px 10px;
        display: block;
        float: left;
        color: $textColor;
        text-shadow: 0 1px 0 $black;
        background: url("#{$breadcrumbDivider}") top right no-repeat;
        &.active {
            color: $textColor;
        }
        &:last-child {
            background: none;
        }
        &:first-child {
            padding-bottom: 1px;
            a {
                font-size: $baseFontSize + 2;
            }
        }
    }
    a {
        display: block;
        color: $textColor;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

/* Fallback for old browsers */
.no-rgba {
    .breadcrumb {
        background-color: $organonBlockBackground;
    }
}

