//
// Buttons
// --------------------------------------------------


/* Buttons */
.btn.btn-flat {
    padding: 3px 12px;
    @include transition(all 400ms ease);
    @include flatButtonBackground(darken($btnBackground, 15%), $gray);
    @include border-radius($baseBorderRadius);
    &:hover {
        color: $grayDark;
    }
    &.btn-primary {
        @include flatButtonBackground($templateColor, $white);
    }
    &.btn-warning {
        @include flatButtonBackground($organonYellow, $white);
    }
    &.btn-danger {
        @include flatButtonBackground($organonRed, $white);
    }
    &.btn-success {
        @include flatButtonBackground($organonGreen, $white);
    }
    &.btn-info {
        @include flatButtonBackground($organonBlue, $white);
    }
    &.btn-inverse {
        @include flatButtonBackground($organonPurple, $white);
    }
    &.btn-large {
        padding: 6px 14px;
    }
    &.btn-small {
        padding: 3px 9px;
    }
    &.btn-mini {
        padding: 2px 6px;
    }
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-color: darken($white, 10%);
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
}

.btn.btn-alt {
    padding: 5px 15px;
    @include border-radius($baseBorderRadius);
    @include organonButtonBackground($white, darken($white, 3%), $gray);
    border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.25);
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    @include box-shadow("0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset");
    &.btn-primary {
        @include organonButtonBackground(lighten(desaturate($templateColor, 5%), 10%), $templateColor, $white);
    }
    &.btn-warning {
        @include organonButtonBackground(lighten(desaturate($organonYellow, 5%), 10%), $organonYellow, $white);
    }
    &.btn-danger {
        @include organonButtonBackground(lighten(desaturate($organonRed, 5%), 10%), $organonRed, $white);
    }
    &.btn-success {
        @include organonButtonBackground(lighten(desaturate($organonGreen, 5%), 10%), $organonGreen, $white);
    }
    &.btn-info {
        @include organonButtonBackground(lighten(desaturate($organonBlue, 5%), 10%), $organonBlue, $white);
    }
    &.btn-inverse {
        @include organonButtonBackground(lighten(desaturate($organonPurple, 5%), 10%), $organonPurple, $white);
    }
    &.btn-large {
        padding: 10px 15px;
    }
    &.btn-small {
        padding: 4px 10px;
    }
    &.btn-mini {
        padding: 3px 7px;
    }
}
.btn-group > .btn-alt,
.btn-group > .btn-flat {
    @include border-radius(0);
}
.btn-group > .btn.btn-alt:first-child,
.btn-group > .btn.btn-flat:first-child {
    @include border-left-radius($baseBorderRadius);
}
.btn-group > .btn.btn-alt:last-child,
.btn-group > .btn-alt.dropdown-toggle,
.btn-group > .btn.btn-flat:last-child,
.btn-group > .btn-flat.dropdown-toggle {
    @include border-right-radius($baseBorderRadius);
}

