//
// Code
// --------------------------------------------------


/* Code */
code {
    padding: 0 3px;
    background-color: $organonDarkBlock;
    border-color: $organonDarkBorder;
    color: $yellow;
    box-shadow:0 1px 3px rgba(0,0,0,.1) inset;
}
.nested code {
    background-color: $organonLightBlock;
    border-color: $organonLightBorder;
}
pre {
    padding: 6px 9px;
    border: none;
    @include box-shadow(0 1px 0 $black);
    @include border-radius($baseBorderRadius);
}

