//
// Dashboard
// --------------------------------------------------


/* Dashboard */
.dashboard {
    @include clear-list();
    @include clearfix();
    margin-top: -10px;
    margin-bottom: $fluidGridGutterWidth;
    & > li {
        margin: 10px 0 0;
        padding: 0;
        display: block;
        float: left;
        line-height: 16px;
        border: 1px solid $organonDark;
        background-color: $dataNestedBackgroundColor;
        position: relative;
        @include border-radius($baseBorderRadius);
        @include box-shadow(0 0 0 1px rgba(255,255,255,0.12) inset);
        @include square(90px);
        & + li {
            margin-left: 10px;
        }
        a {
            color: lighten($textColor, 5%);
        }
        & > a {
            display: block;
            padding: 5px;
            display: block;
            color: $textColor;
            font-size: $fontSizeSmall;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            background-repeat: no-repeat;
            background-position: center 12px;
            &:hover {
                color: $white;
                text-decoration: none;
            }
            & > span {
                display: block;
                margin: 16px auto 0;
                line-height: 40px;
                font-size: $baseFontSize * 2.5;
            }
        }
        &.dashboard-disc {
            @include border-radius(45px);
            &.dashboard-toolbar a > span {
                margin: 6px auto 0;
                line-height: 26px;
                font-size: $baseFontSize + 16;
            }
            .badge {
                top: auto;
                bottom: -8px;
                right: 32px;
            }
        }
        &.dashboard-toolbar a > span {
                margin: 8px auto 0;
        }
        .dashboard-actions {
            display: block;
            @include clear-list();
            padding: 0 10px;
            margin: -4px auto 0;
            @include clearfix();
            li {
                float: left;
                margin-right: 5px;
                font-size: $baseFontSize - 5;
                text-transform: lowercase;
                line-height: normal;
                &:last-child {
                    margin-right: 0;
                }
                a:hover {
                    color: $white;
                }
            }
        }
        .badge {
            top: -10px;
            right: -8px;
            position: absolute;
        }
    }
}
.ie8 {
    .dashboard > li .dashboard-actions {
        padding: 0 5px;
    }
}

/* Fallback for old browsers */
.no-rgba {
    .dashboard > li {
        background-color: $organonBlockBackground;
    }
}

