//
// Data Blocks
// --------------------------------------------------


/* Data block */
.data-block {
    position: relative;
    .data-container {
        @include clearfix();
        @include box-sizing(border-box);
    }
    header {
        margin: 0;
        border-bottom: 1px solid $organonDark;
        @include clearfix();
        h2 {
            margin: 0;
            padding: $baseMargin / 3 0;
            color: $headingsColor;
            font-size: $fontSizeLarge;
            float: left;
            text-shadow: 0 -1px 0 $black;
        }
        .data-header-actions {
            float: right;
            @include clear-list();
            @include clearfix();
            margin-top: 3px;
            &.single-action li > .form-search .btn {
                margin-right: 0;
            }
            .form-search {
                margin: 0 0 0 $baseMargin / 3;
                .control-group {
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }
        }
        .data-header-actions > li {
            float: left;
            display: block;
            & > a {
                color: $textColor;
                padding: 8px 10px;
                font-size: $fontSizeSmall;
                text-transform: uppercase;
                &:hover {
                    color: $linkColorHover;
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                }
            }
            .loading {
                display: block;
                margin: 10px;
            }
            .btn {
                margin: 7px $baseMargin / 3;
                padding: 4px 14px;
            }
            .btn.btn-alt {
                padding: 5px 15px;
            }
            [class^="awe-"],
            [class*=" awe-"] {
                font-size: $fontSizeLarge;
            }
        }
        .data-header-actions.tabs > li,
        .data-header-actions > li.tabs {
            & > a {
                display: block;
                padding: 12px 10px;
            }
            &.active > a {
                color: $linkColorHover;
            }
        }
        .dropdown-menu {
            left: auto;
            right: 0;
            top: 40px;
        }
        & + section {
            border-top: 1px solid rgba(255,255,255,0.12);
        }
    }
    section {
        margin: 0;
        padding: $baseMargin / 2 0;
        @include clearfix();
    }
}

/* Fallback for old browsers */
.no-rgba {
    .data-block header {
        .data-header-actions > li {
            border-right: 1px solid transparent;
        }
        & + section {
            border-top: 1px solid #4a4849;
        }
    }
}

/* Nested data block */
.data-block.nested {
    background-color: $dataNestedBackgroundColor;
    border: 1px solid $organonDark;
    @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
    @include border-radius($baseBorderRadius);
    header {
        padding: 0 $baseMargin / 2;
        & + section {
            border-color: rgba(255,255,255,0.12);
        }
        .data-header-actions {
            border-left: 1px solid rgba(255, 255, 255, 0.12);
            margin-top: 0;
            margin-right: -$baseMargin / 2;
            &.single-action {
                border: none;
                & > li {
                    border: none;
                    @include box-shadow(none);
                }
            }
            .form-search {
                margin: 0 $baseMargin / 3;
                .control-group {
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }
        }
        .data-header-actions > li {
            border-left: 1px solid $organonDark;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            @include box-shadow(1px 0 0 0 rgba(255, 255, 255, 0.1) inset);
            & + li {
                border-left: 1px solid $organonDark;
            }
            &:last-child {
                border-right: 1px solid transparent;
            }
        }
        .data-header-actions.tabs > li,
        .data-header-actions > li.tabs {
            &.active {
                background: rgba(0,0,0,0.05);
                border-right: 1px solid transparent;
                @include box-shadow(inset 0 2px 4px rgba(0,0,0,.4));
            }
            &.active > a {
                color: $linkColorHover;
            }
        }
    }
    section {
        padding: $baseMargin / 2;
    }
}

/* Fallback for old browsers */
.no-rgba {
    .data-block.nested {
        background-color: $organonBlockBackground;
        header {
            .data-header-actions {
                border-left: 1px solid transparent;
            }
            & + section {
                border-top: 1px solid #444344;
            }
        }
    }
}

/* Data block todo list */
.data-block.todo-block {
    section {
        padding-top: 0;
        padding-bottom: 0;
    }
    form {
        margin: 0;
        background-color: transparent;
        border: none;
        @include box-shadow(none);
    }
    table {
        margin: 0;
        border: none;
        border-collapse: separate;
        border-bottom: 1px solid rgba(255,255,255,0.12);
        background-color: transparent;
    }
    table.table tr {
        background-color: transparent;
        &:first-child td {
            border-top: none;
        }
        td {
            border-bottom: 1px solid $organonDark;
            border-top: 1px solid rgba(255,255,255,0.12);
        }
        &.done {
            p,
            span,
            input {
                text-decoration: line-through;
                @include opacity(40);
            }
            span {
                display: none;
            }
            &:hover {
                p,
                span,
                input {
                    @include opacity(100);
                }
            }
        }
        p {
            margin: 0;
            line-height: normal;
            color: $headingsColor;
            & + span {
                font-size: $fontSizeSmall;
                color: $textColor;
            }
        }
        input {
            margin-top: 0;
        }
    }
}
.data-block.nested.todo-block {
    table {
        border: none;
    }
    table.table tr:first-child td {
        border-top: none;
    }
    table.table tr:last-child td {
        border-bottom: none;
    }
}

/* Fallback for old browsers */
.no-rgba {
    .data-block.todo-block {
        table {
            border-bottom: 1px solid #4a4849;
        }
        table.table tr td {
            border-top: 1px solid #4a4849;
        }
    }
}

/* Data block statistics */
.stats {
    margin: 0 0 $baseMargin;
    padding: 0;
    list-style: none;
    &:only-of-type {
        margin: 0;
    }
    li {
        display: block;
        padding: 5px;
        margin-bottom: $baseMargin / 10;
        height: 33px;
        border: 1px solid $organonLightBorder;
        line-height: normal;
        background-color: $organonLightBlock;
        @include box-shadow(0 1px 0 rgba(0,0,0,0.3));
        @include border-radius($baseBorderRadius);
        @include clearfix();
    }
    .stats-view {
        float: right;
        margin: 3px 1px 0 0;
    }
    .stats-count {
        float: left;
        display: block;
        min-width: 70px;
        text-align: right;
        line-height: 33px;
        font-size: $baseFontSize * 2;
        padding-right: $baseMargin / 2;
        color: $headingsColor;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    }
    p {
        float: left;
        margin: 0;
        line-height: 33px;
        color: $grayLight;
    }
    a {
        color: #555;
    }
}

/* Data block accordion */
.data-block.nested.accordion-block {
    section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .accordion {
        border: none;
        .accordion-heading {
            padding: 0 $baseMargin / 2;
        }
        .accordion-inner {
            padding: 0 $baseMargin / 2 $baseMargin / 2;
        }
        .accordion-group:first-child {
            border-top: none;
        }
        .accordion-group:last-child {
            border-bottom: none;
        }
    }
}

/* Accordion */
.accordion {
    border-bottom: 1px solid rgba(255,255,255,0.12);
    border-top: 1px solid $organonDark;
    &:last-child {
        margin-bottom: 0;
    }
    .accordion-group {
        border: none;
        border-bottom: 1px solid $organonDark;
        border-top: 1px solid rgba(255,255,255,0.12);
        margin: 0;
        @include border-radius(0);
    }
    .accordion-toggle {
        font-weight: bold;
        font-size: $baseFontSize + 3;
        color: $linkColor;
        padding: $baseMargin / 2 0;
        @include clearfix();
        &:hover {
            color: $linkColorHover;
            text-decoration: none;
            .caret {
                border-top: 5px solid $linkColor;
            }
        }
        .caret {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $grayLight;
            float: right;
            margin: 7px 10px 0;
        }
    }
    .accordion-inner {
        padding: 0 0 $baseMargin / 2;
        border: none;
    }
}
.ie8 .accordion {
    margin-bottom: 0;
}

/* Fallback for old browsers */
.no-rgba {
    .accordion {
        border-bottom: 1px solid #4a4849;
        .accordion-group {
            border-top: 1px solid #4a4849;
        }
    }
}

