//
// Description Lists
// --------------------------------------------------


/* Description lists */
dl {
    margin: 0 0 $baseLineHeight;
    &:last-child {
        margin-bottom: 0;
    }
}
dt {
    color: $headingsColor;
}
.dl-horizontal {
    dt {
        width: $horizontalComponentOffset - 50;
    }
    dd {
        margin-left: $horizontalComponentOffset - 35;
    }
}

