//
// Dropdowns
// --------------------------------------------------


/* Dropdowns */
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    background: none;
    @include reset-filter();
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: $dropdownLinkColorActive;
    background: $dropdownLinkBackgroundActive;
}

