//
// Entry Log
// --------------------------------------------------


/* Entry log */
.entry {
    border: 1px solid #454545;
    padding: $baseMargin / 3;
    background-color: $organonLightBlock;
    border: 1px solid $organonLightBorder;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    @include border-radius($baseBorderRadius);
    @include box-shadow(0 1px 0 rgba(0,0,0,0.3));
    & + .entry {
        margin-top: 3px;
    }
    .entry-header {
        margin: 0;
        line-height: normal;
        font-size: $baseFontSize + 2;
        @include clearfix();
        time,
        .entry-timestamp {
            margin-top: 3px;
            float: right;
            color: $grayLight;
            font-size: $baseFontSize - 1;
            font-weight: normal;
        }
        [class^="fam-"],
        [class*=" fam-"] {
            margin-top: 4px;
        }
    }
    .entry-content,
    .entry-details {
        font-size: $fontSizeSmall;
        margin: 0;
    }
    .entry-details {
        font-style: italic;
        @include opacity(75);
    }
    time,
    .entry-timestamp {
        color: $grayLighter;
    }
}

