//
// Forms
// --------------------------------------------------


/* Forms */
form {
    margin-bottom: $baseMargin;
    background: none;
    @include border-radius($baseBorderRadius);
}
form:only-of-type,
input:only-of-type,
select:only-of-type,
textarea:only-of-type {
    margin: 0;
}
legend {
    padding: 0 $baseMargin / 3;
    margin: 0 0 -20px 5px;
    border: none;
    width: auto;
    color: $organonDark;
    font-size: $baseFontSize + 2;
    line-height: $baseFontSize * 2;
    border: 1px solid $organonDark;
    @include border-radius($baseBorderRadius);
    @include gradient-vertical(#f2f5ff, #c2c4cc);
}
fieldset {
    background: none;
    padding: 0;
    border: 1px solid $organonDark;
    @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
    @include border-radius($baseBorderRadius);
}
label {
    font-weight: bold;
    color: $headingsColor;
    &.radio,
    &.checkbox {
        font-weight: normal;
        color: $textColor;
    }
}
.form-horizontal .control-group,
.control-group {
    margin: 0;
    padding: $baseMargin / 3 $baseMargin / 2;
    border-bottom: 1px solid $organonDark;
    border-top: 1px solid rgba(255,255,255,0.12);
    &:first-child {
        border-top: none;
    }
    &:last-child {
        border-bottom: none;
    }
}
.form-horizontal legend + .control-group,
legend + .control-group {
    margin-top: 25px;
    border-top: none;
}
.form-actions {
    margin: 0;
    padding: $baseMargin / 2;
    border-top: 1px solid rgba(255,255,255,0.12);
}
.form-horizontal .form-actions {
    padding-left: $horizontalComponentOffset + $baseMargin / 2;
}
select,
textarea,
input,
.uneditable-input {
    color: $textColor;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 3px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    border-style: dashed;
    color: $grayLight;
}
.input-append,
.input-prepend {
    .add-on {
        color: $white;
        text-shadow: 0 -1px 0 $black;
        background-color: $organonDarkBlock;
        border: 1px solid $organonDark;
    }
    .btn {
        border: 1px solid $organonDark;
    }
    .add-on,
    .btn {
        vertical-align: middle;
    }
}
.ie8 {
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
    }
    legend + .control-group,
    .form-horizontal legend + .control-group {
        border-top: none;
    }
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid input[class*="span"],
    .row-fluid select[class*="span"],
    .row-fluid textarea[class*="span"],
    .row-fluid .uneditable-input[class*="span"] {
        min-height: 20px;
    }
    input,
    textarea,
    .uneditable-input {
        width: 180px;
    }
    .input-mini       { width: 60px; }
    .input-small      { width: 90px; }
    .input-medium     { width: 150px; }
    .input-large      { width: 210px; }
    .input-xlarge     { width: 270px; }
    .input-xxlarge    { width: 360px; }
    input[type="file"],
    input[type="image"],
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
    }
}
.ie9 {
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 1px;
    }
}

/* Fallback for old browsers */
.no-rgba {
    .form-horizontal .control-group,
    .control-group {
        border-top: 1px solid #444243;
    }
    .form-actions {
        border-top: 1px solid #444243;
    }
}

