//
// Galleries
// --------------------------------------------------


/* Gallery */
.thumbnails {
    margin: 0;
    .thumbnail {
        background-color: $white;
    }
    &.raw .thumbnail {
        border: none;
        padding: 0;
    }
    & > li {
        position: relative;
        .thumbnail-actions {
            margin: 0;
            display: block;
            position: absolute;
            list-style: none;
            bottom: 10px;
            right: 10px;
            color: $white;
            background-color: $organonDark;
            z-index: $zindexDropdown;
            @include border-radius($baseBorderRadius);
            @include clearfix();
            @include opacity(0);
            li {
                float: left;
                padding: 2px 5px;
                a {
                    line-height: normal;
                    display: block;
                    color: $white;
                    @include opacity(80);
                    &:hover {
                        @include opacity(100);
                        text-decoration: none;
                    }
                    [class^="icon-"],
                    [class*=" icon-"] {
                        margin-top: 3px;
                    }
                }
            }
        }
        &:hover .thumbnail-actions {
            @include opacity(85);
        }
    }
}
.thumbnail {
    padding: 3px;
    background-color: $white;
    border: 1px solid $organonDark;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    @include border-radius(0);
}
a.thumbnail {
    &:hover {
        background-color: $templateColor;
        border-color: $organonDark;
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    }
}

/* Form gallery */
.form-gallery {
    background: none;
    border: none;
    @include border-radius(none);
    @include box-shadow(none);
    li input[type="checkbox"] {
        margin: 0;
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: $zindexDropdown;
    }
    .thumbnails .thumbnail.active {
        border-color: $templateColor;
        background-color: lighten($templateColor, 10%);
    }
    .form-actions {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        [class*="span"] {
            margin-bottom: 0;
        }
    }
}

