//
// Globals
// --------------------------------------------------


/* Globals */
body {
    padding: 0;
    text-rendering: optimizelegibility;
    background-repeat: repeat-y;
    background-position: -795px 0;
    background-image: url("#{$bodyBackgroundImage}");
    &.fixed-layout {
        .container,
        .container-fluid {
            // Do not forget about borders (2px)
            background-position: -793px 0;
            background-image: url("#{$bodyBackgroundImage}");
            .sidebar {
                //position: static;
                padding: $baseMargin / 2 10px $baseMargin / 2 12px;
            }
        }
    }
    &.no-sidebar {
        background-position: -1080px 0;
        .content-block {
            margin-left: 0;
        }
    }
}