//
// Header
// --------------------------------------------------


/* Page header */
.page-header {
    border: none;
    margin-top: 0;
    margin-bottom: $baseMargin;
    h1 {
        margin-top: 40px;
        color: $headingsColor;
        margin-bottom: $baseMargin / 3;
        font-size: $baseFontSize * 1.09;
        text-shadow: 0 -1px 0 $black;
    }
}

