//
// Hero unit
// --------------------------------------------------


/* Hero unit */
.hero-unit {
    margin-bottom: $baseMargin;
    border: 1px solid $organonDark;
    @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
    @include border-radius($baseBorderRadius);
    h1 {
        margin-bottom: 3px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    }
    p {
        line-height: $baseLineHeight + 4;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn {
        margin-top: $baseMargin / 2;
    }
}

/* Fallback for old browsers */
.no-rgba {
    .hero-unit {
        background-color: $organonBlockBackground;
    }
}

