//
// Labels & Badges
// --------------------------------------------------


/* Badges */
.badge {
    padding: 0;
    margin: 0;
    display: block;
    color: $grayDark;
    line-height: 25px;
    text-align: center;
    text-shadow: none;
    position: absolute;
    cursor: help;
    @include square(26px);
    @include border-radius(13px);
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,0.8));
    @include gradient-vertical(#f2f5ff, #c2c4cc);
    &.badge-primary {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        @include gradient-vertical(lighten($templateColor, 8%), darken($templateColor, 8%));
    }
    &.badge-success {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        @include gradient-vertical(lighten($organonGreen, 8%), darken($organonGreen, 8%));
    }
    &.badge-warning {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
        @include gradient-vertical(lighten($organonYellow, 8%), darken($organonYellow, 8%));
    }
    &.badge-important {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
        @include gradient-vertical(lighten($organonRed, 8%), darken($organonRed, 8%));
    }
    &.badge-info {
        color: $white;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        @include gradient-vertical(lighten($organonBlue, 8%), darken($organonBlue, 8%));
    }
    &.badge-inverse {
        color: $white;
        @include gradient-vertical(lighten($organonDark, 4%), $organonDark);
    }
}
.ie9 .badge {
    @include reset-filter();
}

/* Labels */
.label {
    font-size: $fontSizeMini;
    font-weight: normal;
    padding: 1px 4px;
    text-shadow: none;
    &.label-inverse {
        background-color: $grayDarker;
    }
}
a.label {
    &:focus {
        outline: 0;
    }
    &.label-important {
        background-color: $errorText;
        &:hover {
            background-color: darken($errorText, 10%);
        }
    }
    &.label-warning {
        background-color: $orange;
        &:hover {
            background-color: darken($orange, 10%);
        }
    }
    &.label-success {
        background-color: $successText;
        &:hover {
            background-color: darken($successText, 10%);
        }
    }
    &.label-info {
        background-color: $infoText;
        &:hover {
            background-color: darken($infoText, 10%);
        }
    }
    &.label-inverse {
        background-color: $grayDarker;
        &:hover {
            background-color: darken($grayDarker, 10%);
        }
    }
}

