//
// Layouts
// --------------------------------------------------


/* Layout */
.container-fluid {
    padding: 0;
}
.navbar {
    margin: 0 auto;
    padding: 0;
    height: $navbarHeight;
    position: relative;
}
.sidebar {
    width: $navigationWidth;
    padding: $baseMargin / 2 10px;
    float: left;
    position: absolute;
}
.content-block {
    height: 100%;
    margin-left: $navigationWidth + 21;
    padding: $baseMargin / 2;
    color: $textColor;
}

/* Grid */
.row,
.row-fluid {
    margin-bottom: $fluidGridGutterWidth;
    &:last-child {
        margin-bottom: 0;
    }
}