//
// Loading
// --------------------------------------------------


/* Loading */
.loading {
    display: inline-block;
    background-image: url("#{$templateLoading}");
    background-repeat: no-repeat;
    background-position: center;
    @include hide-text();
    @include square(24px);
    &.loading-white {
        background-image: url("#{$organonWhiteLoading}");
    }
    &.loading-purple {
        background-image: url("#{$organonPurpleLoading}");
    }
    &.loading-red {
        background-image: url("#{$organonRedLoading}");
    }
    &.loading-green {
        background-image: url("#{$organonGreenLoading}");
    }
    &.loading-blue {
        background-image: url("#{$organonBlueLoading}");
    }
    &.loading-yellow {
        background-image: url("#{$organonYellowLoading}");
    }
}

