//
// Main Navigation
// --------------------------------------------------


/* Main Navigation */
.main-navigation {
    clear: both;
    margin: 0 0 15px;
    & > ul {
        border-top: 1px solid $navDarkBorderColor;
        border-bottom: 1px solid $navLightBorderColor;
        @include clear-list();
        & > li {
            line-height: normal;
            border-top: 1px solid $navLightBorderColor;
            border-bottom: 1px solid $navDarkBorderColor;
            a {
                display: block;
                text-shadow: 0 -1px 0 $black;
            }
            & > a {
                padding: 8px 0;
                letter-spacing: 0.3px;
                font-size: $baseFontSize;
                color: $grayLight;
                @include transition(color 400ms ease);
                &:hover {
                    color: $white;
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                }
                [class^="fam-"],
                [class*=" fam-"] {
                    margin: 1px 10px 0 0;
                }
            }
            ul {
                display: none;
                margin-bottom: 8px;
                li {
                    padding-left: 5px;
                    &.active {
                        & > a {
                            color: $linkColorHover;
                        }
                    }
                }
                a {
                    color: $grayLight;
                    padding: 3px 0 3px 15px;
                    font-size: $fontSizeSmall;
                    line-height: $baseLineHeight - 2px;
                    background-image: url("#{$subnavBackground}");
                    background-repeat: no-repeat;
                    background-position: left 7px;
                    &.active,
                    &:hover {
                        color: $linkColorHover;
                        background-position: left -34px;
                    }
                }
            }
            &.active {
                & > a {
                    color: $linkColorHover;
                    & + ul {
                        display: block;
                    }
                }
            }
        }
    }
    .badge {
        top: -4px;
        float: right;
        position: relative;
        font-size: $fontSizeSmall;
    }
}

