//
// Custom mixins
// --------------------------------------------------


// Complementary colors
$base:                 #fff;
$complement1:          adjust-hue($base, 180);
$complement2:          darken(adjust-hue($base, 180), 5%);
$lighten1:             lighten($base, 15%);
$lighten2:             lighten($base, 30%);

// Subtle colors
$base:                 #fff;
$lighter1:             lighten(adjust-hue($base, 5), 10%);
$lighter2:             lighten(adjust-hue($base, 10), 20%);
$darker1:              darken(adjust-hue($base, -5), 10%);
$darker2:              darken(adjust-hue($base, -10), 20%);


// Replace text with image
@mixin image-replacer($path, $repeat, $height, $width) {
	display: block;
	background-image: url("#{$path}");
	background-repeat: $repeat;
	@include hide-text();
	@include size($height, $width);
}

// Make clean OL or UL list
@mixin clear-list() {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Reset margin if only one
@mixin clear-orphan() {
	&:only-of-type {
		margin: 0;
		float: none;
	}
}


// Flat buttons
@mixin flatButtonBackground($startColor, $typeColor) {
	@include reset-filter();
	border: none;
	background-image: none;
	background-color: $startColor;
	color: $typeColor;
	text-shadow: none;
	@include box-shadow(none);
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		color: $white;
		background-color: #404040;
	}
	&:active, &.active {
		outline: 0;
		@include box-shadow("inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
	}
}


// Organon buttons
@mixin organonButtonBackground($startColor, $endColor, $typeColor) {
	@include buttonBackground($startColor, $endColor, $typeColor, 0 1px 2px rgba(0,0,0,0.5));
	background-color: $startColor;
	border: none;
	@include box-shadow("inset 1px 1px 0 0 rgba(255, 255, 255, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.6)");
	&:hover, &:active, &.active {
		color: $typeColor;
		background-position: 0 0;
		background-color: darken($endColor, 10%);
		background-image: none;
	}
	&:active, &.active {
		outline: 0;
		@include box-shadow("inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
	}
	&.disabled,
	&[disabled] {
		background-color: darken($white, 10%);
		background-image: none;
		@include opacity(65);
		@include box-shadow(none);
	}
}