//
// Modals
// --------------------------------------------------


/* Modal */
.modal {
    .modal-header {
        border-bottom: 1px solid $templateColor;
        @include gradientBar(lighten($templateColor, 5%), $templateColor, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
    .modal-body {
        color: $organonDark;
    }
    .modal-footer {
        background-color: #dadbe0;
        border-top: 1px solid #d2d3d9;
        @include box-shadow(none);
    }
}

