//
// Header
// --------------------------------------------------


/* Main header navigation */
header.navbar {
    .navbar-inner {
        padding: 0;
        border-color: #1a1a1a;
        border-width: 1px 0;
        height: $navbarHeight - 2;
        min-height: auto;
        @include border-radius(0);
        @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.4));
    }
    .navbar-decor {
        @include clearfix();
        &.decor-strip-left {
            background-image: url("#{$decorStripLeft}");
            background-repeat: repeat-x;
            background-position: center 0;
        }
        &.decor-strip-left-full {
            background-image: url("#{$decorStripLeftFull}");
            background-repeat: repeat-x;
            background-position: 0 0;
        }
        &.decor-strip-right {
            background-image: url("#{$decorStripRight}");
            background-repeat: repeat-x;
            background-position: center 0;
        }
        &.decor-strip-right-full {
            background-image: url("#{$decorStripRightFull}");
            background-repeat: repeat-x;
            background-position: 0 0;
        }
        &.decor-checker {
            background-image: url("#{$decorChecker}");
            background-repeat: no-repeat;
            background-position: 100px top;
        }
        &.decor-hyper {
            background-image: url("#{$decorHyper}");
            background-repeat:  no-repeat;
            background-position: left top;
        }
    }
    nav {
        float: left;
        margin-right: $baseMargin;
        ul {
            @include clear-list();
            @include clearfix();
        }
        ul li {
            display: block;
            height: $navbarHeight - 2;
            float: left;
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: #2d2d2d;
            position: relative;
            &:last-child {
                border-width: 0 1px 0;
            }
            a {
                display: block;
                text-align: center;
                padding: 10px 10px 6px;
                color: $navbarLinkColor;
                font-size: $baseFontSize - 1;
                text-shadow: 0 -1px 0 $black;
                min-width: 50px;
                min-height: 45px;
                @include transition(color .35s ease);
                &:hover,
                &:active {
                    background-color: $navbarLinkBackgroundHover;
                    color: $navbarLinkColorHover;
                    text-decoration: none;
                    span {
                        color: $navbarLinkColorHover;
                    }
                }
                &:active {
                    outline: 0;
                    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.4));
                }
                span {
                    margin: 0 auto;
                    display: block;
                    padding-bottom: 5px;
                    color: darken($navbarLinkColor, 15%);
                    font-size: $baseFontSize * 1.9;
                    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
                    &[class^="fam-"],
                    &[class*=" fam-"] {
                        margin: 8px auto 2px;
                    }
                }
            }
            &.active a {
                color: $navbarLinkColorActive;
                background-color: $navbarLinkBackgroundHover;
                @include box-shadow(inset 0 2px 4px rgba(0,0,0,.4));
                span {
                    color: $navbarLinkColorActive;
                }
            }
            .badge {
                padding: 0;
                top: 90%;
                right: -2px;
                position: absolute;
                font-size: $baseFontSize - 1;
            }
        }
    }
    &.navbar-fixed-top {
        position: fixed;
        & + .container-fluid,
        & + .container {
            margin-top: $navbarHeight;
        }
    }
}

/* Main header navigation actions */
.navbar-actions {
    float: left;
    @include clear-list();
    margin-right: $baseMargin;
    @include clearfix();
    li {
        float: left;
        display: block;
        margin: 11px 0;
        position: relative;
        @include square(46px);
        @include border-radius(23px);
        & + li {
            margin-left: $baseMargin / 5;
        }
        a {
            display: block;
            margin: 0 auto;
            color: $navbarLinkColor;
            border-top: 1px solid lighten($navbarBackgroundHighlight, 25%);
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
            @include gradient-vertical(#636363, #343434);
            @include square(46px);
            @include box-sizing(border-box);
            @include border-radius(23px);
            @include box-shadow(0 1px 1px 0 rgba(0,0,0,0.5));
            @include transition(color .35s ease);
            &:hover,
            &:active,
            &.active {
                color: $grayLighter;
                text-decoration: none;
                @include gradient-vertical(#6b6b6b, #3f3f3f);
            }
            &:active,
            &.active {
                outline: 0;
                border: 1px solid $grayLight;
                @include box-shadow(inset 0 2px 4px rgba(0,0,0,.5));
            }
            span {
                display: block;
                width: auto;
                line-height: 44px;
                font-size: $baseFontSize * 2;
            }
        }
        a.led-red {
            &:hover,
            &:active,
            &.active {
                color: $ledRed;
            }
            &:active,
            &.active {
                border: 1px solid $ledRed;
                @include box-shadow("inset 0 2px 4px rgba(0,0,0,.5), 0 0 10px rgba(255,255,255,.15)");
            }
        }
        a.led-green {
            &:hover,
            &:active,
            &.active {
                color: $ledGreen;
            }
            &:active,
            &.active {
                border: 1px solid $ledGreen;
                @include box-shadow("inset 0 2px 4px rgba(0,0,0,.5), 0 0 10px rgba(255,255,255,.15)");
            }
        }
    }
    .badge {
        padding: 0;
        top: -7px;
        right: -7px;
        position: absolute;
        font-size: $baseFontSize - 1;
    }
    &.pull-right {
        float: right;
    }
}
.ie9 .navbar-actions li a {
    @include reset-filter();
}

/* Main header search box */
.navbar .form-search {
    float: left;
    margin: 18px $baseMargin 18px 0;
    input.search-query {
        width: 75px;
        @include transition(width .35s ease);
        &:focus,
        &.focus {
            width: 190px;
        }
    }
    .btn,
    .btn-group {
        margin: 0;
    }
    &.pull-right {
        float: right;
    }
}

/* Main header logout */
.navbar-logout {
    float: right;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    padding: 12px 20px 0;
    color: $grayLight;
    font-size: $baseFontSize - 5;
    @include transition(color .35s ease);
    span {
        display: block;
        color: $grayDarker;
        margin: 0 auto -2px 2px;
        font-size: $baseFontSize * 2.5;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.1);
        @include transition(color .35s ease);
    }
    &:hover {
        color: $white;
        text-decoration: none;
        span {
            color: $templateColor;
        }
    }
}

