//
// Pager
// --------------------------------------------------


/* Pager */
.pager li > a,
.pager span {
    background-color: rgba(0,0,0,.2);
    border: 1px solid $organonDark;
    @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
}
.pager li > a:hover {
    background-color: $paginationActiveBackground;
}
.pager .disabled a,
.pager .disabled a:hover,
.pager .disabled span {
    color: $grayLight;
    background-color: $paginationActiveBackground;
}

/* Fallback for old browsers */
.no-rgba {
    .pager li > a,
    .pager span {
        background-color: $organonBlockBackground;
    }
}

