//
// Pages
// --------------------------------------------------


/* Pages */
/* Login page */
.login-page {
    background-image: url("#{$bodyBackgroundImage2}");
    background-repeat: repeat;
    background-position: center;
    .login-container {
        width: 90%;
        max-width: 340px;
        margin: $baseMargin * 5 auto 0;
        h1 {
            margin: 0;
            .brand {
                @include image-replacer($templateLogo2, no-repeat, 70px, 250px);
            }
        }
        section {
            @include border-radius($baseBorderRadius);
            form {
                text-align: center;
                .btn {
                    margin-top: $baseMargin / 2;
                }
            }
            fieldset {
                text-align: left;
            }
            input {
                width: 94%;
            }
            input[type="checkbox"] {
                width: auto;
            }
        }
        nav {
            margin: $baseMargin auto 0;
            @include clearfix();
            ul {
                text-align: center;
                @include clear-list();
                @include clearfix();
                li {
                    display: inline;
                    & + li {
                        margin-left: $baseMargin / 2;
                        padding-left: $baseMargin / 2;
                    }
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

/* Error pages */
.error-page {
    background-image: url("#{$bodyBackgroundImage2}");
    background-repeat: repeat;
    background-position: center;
    .error-container {
        width: 90%;
        max-width: 600px;
        text-align: center;
        margin: $baseMargin * 4 auto 0;
        @include clearfix();
        h1 {
            margin: 0;
            font-size: $baseFontSize * 13;
            line-height: normal;
            color: $white;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
        }
        p {
            margin: $baseMargin / 2 0;
            &.description {
                margin-top: -$baseMargin;
                font-size: $baseFontSize * 3;
            }
        }
    }
}


