//
// Pagination
// --------------------------------------------------


/* Pagination */
.pagination {
    height: $baseLineHeight + 12;
}
.pagination ul > li > a,
.pagination ul > li > span {
    color: $grayLight;
    padding: 0 12px;
    line-height: $baseLineHeight + 10;
    @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
    [class^="awe-"],
    [class*=" awe-"] {
        line-height: normal;
    }
}
.pagination ul > li > a,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: $white;
    background-color: $paginationActiveBackground;
}

/* Fallback for old browsers */
.no-rgba {
    .pagination ul > li > a,
    .pagination ul > li > span {
        background-color: $organonBlockBackground;
    }
}

