//
// Plugins
// --------------------------------------------------


/* Plugins */
/* jQuery Sparkline */
.dashboard .sparkline {
    display: block;
    margin: 8px auto 0 auto;
    @include size(40px, 70px);
    canvas {
        display: block !important;
        margin: 0 auto;
    }
}
.dashboard .dashboard-disc .sparkline {
    margin: 15px auto 0 auto;
    & + a {
        margin-top: -5px;
    }
}
#jqstooltip {
    @include border-radius($baseBorderRadius);
    &.jqstooltip {
        border: none;
        background: $black;
        background-color: rgba(0,0,0,0.75);
    }
}

/* jQuery Visualize */
.visualize {
    margin: $baseMargin * 1.7  auto $baseMargin;
    margin-bottom: $baseMargin !important;
    background-color: $organonLightBlock;
    border-color: $organonLightBorder;
    &.visualize-pie {
        margin-bottom: 0 !important;
    }
    .visualize-info {
        border: none;
        padding: 0;
        font-size: $baseFontSize - 1;
        right: auto;
        left: -2px;
        top: -48px;
        background-color: transparent;
        @include opacity(100);
    }
    ul.visualize-key .visualize-key-label {
        color: $headingsColor;
    }
    .visualize-title {
        font-weight: bold;
        margin-bottom: 0;
        color: $headingsColor;
    }
    .visualize-labels-x li span.label,
    .visualize-labels-y li span.label {
        color: $textColor;
    }
    .visualize-labels-x li span.line,
    .visualize-labels-y li span.line {
        border-color: $organonLightBorder;
    }
}
.visualize .label {
    padding: 0;
    background-color: transparent;
    font-size: $fontSizeSmall;
    font-weight: normal;
    line-height: 14px;
    text-shadow: none;
    color: $headingsColor;
    @include border-radius(none);
}
p + table + .visualize {
    margin-top: $baseMargin * 2.5;
}
.ie8 .visualize-interaction-tracker {
    margin-top: 0 !important;
}

/* jQuery Flot */
.flot {
    margin: 10px auto;
    width:100%;
    height:240px;
    .legend {
        padding: 0 2px;
    }
}

/* jQuery FullCalendar */
.fullcalendar {
    margin-top: -5px;
    .fc-content tbody {
        color: darken($textColor, 5%);
        background: darken($white, 3%);
    }
    .fc-header-title h2 {
        color: $headingsColor;
        margin-bottom: $baseMargin / 2;
    }
    &.fc thead th.fc-widget-header {
        padding: 5px 0;
        @include gradientBar(lighten($templateColor, 5%), $templateColor, $white, 0 -1px 0 rgba(0,0,0,.25));
        &.fc-first {
            @include border-top-left-radius($baseBorderRadius);
        }
        &.fc-last {
            @include border-top-right-radius($baseBorderRadius);
        }
    }
    .fc-button.fc-state-default {
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
        vertical-align: middle;
        @include buttonBackground($btnBackground, $btnBackgroundHighlight);
        text-align: center;
        text-shadow: 0 1px 0 $white;
        border: 1px solid $btnBorder;
        border-bottom-color: darken($btnBorder, 10%);
        @include box-shadow('inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)');
        cursor: pointer;
        position: relative;
        @include border-radius(0);
    }
    .fc-button.fc-state-active {
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
        text-align: center;
        vertical-align: middle;
        @include buttonBackground($btnBackground, $btnBackgroundHighlight);
        text-shadow: 0 1px 0 $white;
        border: 1px solid $btnBorder;
        border-bottom-color: darken($btnBorder, 10%);
        cursor: pointer;
        position: relative;
        @include border-radius(0);
        background-image: none;
        @include box-shadow('inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)');
        background-color: darken($white, 10%);
        background-color: darken($white, 15%); // removed e("\9");
        outline: 0;
    }
    .fc-button.fc-state-disabled {
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
        color: $grayDark;
        text-align: center;
        text-shadow: 0 1px 0 $white;
        vertical-align: middle;
        border: 1px solid $btnBorder;
        border-bottom-color: darken($btnBorder, 10%);
        position: relative;
        @include border-radius(0);
        cursor: default;
        background-image: none;
        background-color: darken($white, 10%);
        @include opacity(65);
        @include box-shadow(none);
    }
    .fc-button.fc-state-disabled:active {
        @include box-shadow(none);
    }
    .fc-button.fc-corner-left {
        margin-left: 0;
        @include border-left-radius(3px);
    }
    .fc-button.fc-corner-right {
        @include border-right-radius(3px);
    }
    .fc-state-default .fc-button-inner {
        background: transparent;
        border-width: 0;
    }
    .fc-button-content {
        line-height: $baseLineHeight;
        height: $baseLineHeight;
        padding: 0;
    }
    .fc-state-default .fc-button-effect span {
        @include buttonBackground($btnBackground, $btnBackgroundHighlight);
    }
    .fc-state-active .fc-button-inner {
        color: $grayDark;
    }
}
.ie8 .fullcalendar .fc-state-default .fc-button-effect span {
    filter: alpha(opacity=9);
}

/* jQuery FullCalendar event style */
.fc-event-skin {
    background-color: $templateColor;
    border-color: $templateColor;
}
.organon-event {
    padding: 4px 10px;
    border-width: 1px;
    @include border-radius($baseBorderRadius);
    @include gradientBar($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
    @include box-shadow('inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)');
    .fc-event-skin {
        background: none;
        border: none;
        color: inherit;
    }
    &.fc-event-vert .fc-event-bg {
        display: none;
        background: transparent;
    }
    &.organon-event-yellow {
        @include gradientBar(lighten($organonYellow, 5%), $organonYellow, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
    &.organon-event-red {
        @include gradientBar(lighten($organonRed, 5%), $organonRed, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
    &.organon-event-green {
        @include gradientBar(lighten($organonGreen, 5%), $organonGreen, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
    &.organon-event-blue {
        @include gradientBar(lighten($organonBlue, 5%), $organonBlue, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
    &.organon-event-purple {
        @include gradientBar(lighten($organonPurple, 5%), $organonPurple, $white, 0 -1px 0 rgba(0,0,0,.25));
    }
}

/* jQuery jGrowl */
div.jGrowl div.jGrowl-notification {
    color: $organonDark;
    background-color: $white;
    text-shadow: none;
    @include box-shadow(0 0 2px rgba(0,0,0,0.5));
    @include border-radius($baseBorderRadius);
    @include opacity(100);
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
div.jGrowl div.jGrowl-closer {
    background-color: transparent;
    @include border-radius($baseBorderRadius);
    @include opacity(35);
    @include box-shadow(none);
    &:hover {
        @include opacity(100);
    }
}
div.jGrowl div {
    &.organon {
        background-color: $organonBlockBackground;
        border: 1px solid $organonDark;
        color: $textColor;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
        @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
        @include opacity(100);
    }
    &.primary {
        color: $white;
        background-color: $templateColor;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.danger {
        color: $white;
        background-color: $organonRed;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.info {
        color: $white;
        background-color: $organonBlue;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.success {
        color: $white;
        background-color: $organonGreen;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.warning {
        color: $white;
        background-color: $organonYellow;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.inverse {
        color: $white;
        background-color: $organonDark;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
}

/* jQuery Snippet */
.snippet-container {
    pre,
    .snippet-wrap {
        .snippet-num {
            margin: 0;
        }
        pre.sh_sourceCode {
            margin: 0;
            @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
            @include border-radius($baseBorderRadius);
        }
    }
    .snippet-menu pre {
        border: none;
        @include box-shadow(none);
    }
}

/* jQuery plupload */
.plupload {
    .plupload_wrapper {
        font-family: $baseFontFamily;
        font-size: $baseFontSize;
        line-height: $baseLineHeight;
    }
    .plupload_header {
        display: none;
    }
    .plupload_container,
    .plupload_filelist_header,
    .plupload_filelist_footer {
        padding: 0;
        background: none;
    }
    .plupload_filelist_header,
    .plupload_filelist_footer {
        color: $headingsColor;
        font-weight: bold;
        padding: $baseMargin / 2 0;
        font-size: $baseFontSize + 2;
        border: none;
        border-color: transparent;
    }
    .plupload_filelist_footer {
        height: auto;
        .plupload_buttons .btn + .btn {
            margin-left: 5px;
        }
    }
    .plupload_file_status,
    .plupload_file_status span {
        color: $headingsColor;
    }
    .plupload_file_name {
        padding: 0;
    }
    .plupload_scroll {
        overflow: visible;
        height: auto;
        width: auto;
    }
    .plupload_filelist {
        margin: 0;
        @include box-shadow(0 0 3px #ababab inset);
        @include border-radius($baseBorderRadius);
        .plupload_file_name {
            width: 40%;
        }
    }
}

/* jQuery DataTables */
.dataTables_wrapper {
    & > .row:first-child,
    & > .row-fluid:first-child {
        margin-bottom: 5px;
    }
    .table + .row,
    .table + .row-fluid {
        margin-top: 10px;
    }
    div.dataTables_length {
        label {
            float: left;
            text-align: left;
        }
        select {
            width: 75px;
        }
    }
    div.dataTables_filter label {
        float: right;
    }
    .dataTables_paginate {
        margin: 0;
        float: right;
    }
    table thead .sorting,
    table thead .sorting_asc,
    table thead .sorting_desc,
    table thead .sorting_asc_disabled,
    table thead .sorting_desc_disabled {
        cursor: pointer;
        *cursor: hand;
    }
    table.table thead .sorting {
        background-image: url("#{$datatablesSortBothImg}");
    }
    table.table thead .sorting_asc {
        background-image: url("#{$datatablesSortAscImg}");
    }
    table.table thead .sorting_desc {
        background-image: url("#{$datatablesSortDescImg}");
    }
    table.table thead .sorting_asc_disabled {
        background-image: url("#{$datatablesSortAscDisabledImg}");
    }
    table.table thead .sorting_desc_disabled {
        background-image: url("#{$datatablesSortDescDisabledImg}");
    }
    table.table thead .sorting,
    table.table thead .sorting_asc,
    table.table thead .sorting_desc,
    table.table thead .sorting_asc_disabled,
    table.table thead .sorting_desc_disabled {
        background-position: center right;
        background-repeat: no-repeat;
    }
    table.dataTable th:active {
        outline: none;
    }
}

/* jQuery DataTable filter */
.datatable-controls li {
    padding: 3px 15px;
}

/* jQuery Tags Input */
div.tagsinput {
    padding: 0;
    margin: -5px 0 0;
    width: auto !important;
    height: auto !important;
    color: $gray;
    background-color: transparent;
    border: none;
    @include transition('border linear .2s, box-shadow linear .2s');
    &.focused {
        outline: 0;
        border-color: rgba(0,0,0,.3);
        @include box-shadow('inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0,0,0,.3)');
    }
    span.tag {
        text-shadow: none;
        line-height: normal;
        padding: 4px;
        margin: 5px 5px 0 0;
        @include border-radius($baseBorderRadius);
        background: $templateColor;
        border-color: $templateColor;
        color: $white;
        a {
            color: $white;
            @include opacity(50);
            &:hover {
                @include opacity(100);
            }
        }
    }
    input {
        margin: 5px 0 0;
    }
    #inputTag_tag {
        color: $textColor !important;
        &.not_valid {
            background-color: transparent !important;
            color: $organonRed !important;
        }
    }
}

/* jQuery jWYSIWYG */
div.wysiwyg {
    background: none;
    width: auto !important;
    border: none;
    .toolbar-container {
        padding: 5px;
    }
    iframe {
        margin-top: $baseMargin / 2;
        background-color: $inputBackground;
        width: 100% !important;
        min-height: 250px;
        border: 1px solid $inputBorder;
        @include border-radius($inputBorderRadius);
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    }

}
div.wysiwyg ul.toolbar {
    padding: 3px 0;
    margin-bottom: 0;
    border: none;
    @include gradient-vertical(#f2f5ff, #c2c4cc);
    @include border-radius($inputBorderRadius);
    li {
        background-image: url("#{$jwysiwygIcons}");
    }
    li.wysiwyg-button-hover {
        background-color: transparent;
    }
}


/* Bootstrap File & Image input */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    & > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        cursor: pointer;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        @include opacity(0);
        direction: ltr;
    }
}
.fileupload {
    padding-left: 0;
    margin-bottom: 9px;
    h4 {
        margin: 0 0 $baseMargin / 2;
    }
    .thumbnail {
        display: inline-block;
        margin-bottom: 5px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        background-color: $white;
        & > img {
            max-height: 100%;
            vertical-align: middle;
        }
        &.fileupload-small {
            @include square(50px);
            &.flexible {
                @include size(auto,auto);
                max-width: 75px;
                max-height: 75px;
            }
        }
        &.fileupload-large {
            @include size(150px, 250px);
            &.flexible {
                @include size(auto,auto);
                max-width: 350px;
                max-height: 250px;
            }
        }
    }
    .raw.thumbnail {
        padding: 0;
        border: none;
        @include border-radius(0);
        @include box-shadow(none);
    }
    .btn {
        vertical-align: middle;
    }
    .uneditable-input {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text;
    }
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-new .input-append .btn-file {
    @include border-radius(0 $baseBorderRadius $baseBorderRadius 0);
}
.fileupload-exists .input-append .btn-file {
    @include border-radius(0);
}

/* Bootstrap Color picker */
.colorpicker-saturation {
    width: 100px;
    height: 100px;
    background-image: url("#{$cpSaturation}");
    cursor: crosshair;
    float: left;
    i {
        display: block;
        height: 5px;
        width: 5px;
        border: 1px solid #000;
        @include border-radius($baseBorderRadius);
        position: absolute;
        top: 0;
        left: 0;
        margin: -4px 0 0 -4px;
        b{
            display: block;
            height: 5px;
            width: 5px;
            border: 1px solid #fff;
            @include border-radius($baseBorderRadius);
        }
    }
}
.colorpicker-hue,
.colorpicker-alpha {
    width: 15px;
    height: 100px;
    float: left;
    cursor: row-resize;
    margin-left: 4px;
    margin-bottom: 4px;
    i {
        display: block;
        height: 1px;
        background: #000;
        border-top: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: -1px;
    }
}
.colorpicker-hue {
    background-image: url("#{$cpHue}");
}
.colorpicker-alpha {
    background-image: url("#{$cpAlpha}");
    display:none;
}
.colorpicker {
    @include clearfix();
    top: 0;
    left: 0;
    padding: 4px;
    min-width: 120px;
    div {
        position: relative;
    }
    &.alpha {
        min-width: 140px;
        .colorpicker-alpha {
            display: block;
        }
    }
}
.colorpicker-color {
    height: 10px;
    margin-top: 5px;
    clear: both;
    background-image: url("#{$cpAlpha}");
    background-position: 0 100%;
    div {
        height: 10px;
    }
}
.input-append,
.input-prepend {
    &.color {
        .add-on i {
            display: block;
            cursor: pointer;
            width: 16px;
            height: 16px;
        }
    }
}
.colorpicker-preview {
    margin-top: 1px;
    display: block;
    @include square(18px);
}

/* Bootstrap Date picker */
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    color: $organonDark;
    @include border-radius(4px);
    &:before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: rgba(0,0,0,.2);
        position: absolute;
        top: -7px;
        left: 6px;
    }
    &:after {
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $white;
        position: absolute;
        top: -6px;
        left: 7px;
    }
    [class^="icon-"],
    [class*=" icon-"] {
        background-image: url("#{$iconSpritePath}");
    }
    & > div {
        display: none;
    }
    &.days div.datepicker-days {
        display: block;
    }
    &.months div.datepicker-months {
        display: block;
    }
    &.years div.datepicker-years {
        display: block;
    }
    table{
        width: 100%;
        margin: 0;
    }
    td,
    th{
        text-align: center;
        width: 20px;
        height: 20px;
        @include border-radius(4px);
    }
    td {
        color: $gray;
        &.day:hover {
            background: $grayLighter;
            cursor: pointer;
        }
        &.old,
        &.new {
            color: $grayLight;
        }
        &.active,
        &.active:hover {
            color: #fff;
            background-color: $templateColor;
            text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        }
        span {
            display: block;
            width: 47px;
            height: 54px;
            line-height: 54px;
            float: left;
            margin: 2px;
            cursor: pointer;
            @include border-radius(4px);
            &:hover {
                background: $grayLighter;
            }
            &.active {
                color: #fff;
                background-color: $templateColor;
                text-shadow: 0 -1px 0 rgba(0,0,0,.25);
            }
            &.old {
                color: $grayLight;
            }
        }
    }
    th.switch {
        width: 145px;
    }
    thead tr:first-child th {
        cursor: pointer;
        &:hover{
            background: $grayLighter;
        }
    }
}
.input-append,
.input-prepend {
    &.date {
        .add-on i {
            display: block;
            cursor: pointer;
            width: 16px;
            height: 16px;
        }
    }
}
.datepicker + .add-on .icon-calendar {
    font-size: $baseFontSize + 7;
}

/* Bootstrap wysihtml5 */
.wysihtml5 {
    width: 99% !important;
}
ul.wysihtml5-toolbar {
    margin-bottom: 0;
    [class^="icon-"],
    [class*=" icon-"] {
        background-image: url("#{$iconSpritePath}");
    }
}
.wysihtml5-sandbox {
    margin-bottom: 0 !important;
}


