//
// Popovers
// --------------------------------------------------


/* Popover */
.popover {
    border: 1px solid $popoverBackground;
    .popover-title {
        border: none;
        & + .popover-content {
            padding-top: 0;
        }
    }
}

