//
// Progress Bars
// --------------------------------------------------


/* Progress bars */
.progress {
    margin-bottom: $baseMargin / 2;
    background-image: none;
    background-color: $dataNestedBackgroundColor;
    border: 1px solid darken($bodyBackground, 10%);
    @include reset-filter();
    @include border-radius($baseBorderRadius);
    @include box-shadow(none);
    &:last-child {
        margin-bottom: 0;
    }
    .bar:last-child {
        @include border-right-radius($baseBorderRadius);
    }
    &.progress-line {
        height: $baseLineHeight / 2;
    }
}


/* Fallback for old browsers */
.no-rgba {
    .progress {
        background-color: $organonBlockBackground;
        border: 1px solid darken($organonBlockBackground, 10%);
    }
}

