//
// Profile
// --------------------------------------------------


/* User avatar */
.user-profile {
    margin: 0 0 15px;
    @include clearfix();
    img {
        float: left;
        padding: 0;
        margin-right: 10px;
        border: 1px solid $black;
        background-color: transparent;
        @include box-shadow(0 1px 2px rgba(0,0,0,0.45));
        @include border-radius($baseBorderRadius);
    }
    figcaption {
        float: left;
        width: 170px;
        margin: 3px 0 0;
        a {
            color: $white;
            display: block;
            line-height: $baseFontSize;
            font-size: $baseFontSize;
            font-weight: bold;
            text-shadow: 0 1px 1px $black;
            &:hover {
                color: $grayLight;
                text-decoration: none;
            }
        }
        em,
        .last-login {
            display: block;
            color: $grayLight;
            font-size: $fontSizeSmall;
            text-shadow: 0 -1px 0 $black;
            line-height: normal;
        }
        .last-login {
            color: $white;
            margin: 2px 0 0;
            font-size: $baseFontSize - 4;
            time {
                color: $grayLight;
            }
        }
    }
}
.navbar .user-profile {
    float: left;
    margin: 0;
    padding: 7px 0;
    margin-right: $baseMargin;
    figcaption {
        width: 150px;
        margin: 1px 0;
    }
    &.pull-right {
        float: right;
    }
}
.ie8 .navbar .user-profile img {
    max-width: none;
}

/* User actions */
.user-profile-actions {
    @include clear-list();
    @include clearfix();
    margin-top: 5px;
    padding-top: 7px;
    border-top: 1px dashed #1f1e1f;
    li {
        display: block;
        float: left;
        a {
            display: block;
            color: $navbarLinkColor;
            font-size: $fontSizeLarge;
            text-shadow: 0 -1px 0 $black;
            text-align: left;
            @include transition(color .35s ease);
            &:hover {
                color: $navbarLinkColorHover;
                text-shadow: 0 1px 0 $black;
                text-decoration: none;
            }
        }
        & + li {
            margin-left: 5px;
        }
    }
}