/* Landscape phone to small desktop and portrait tablet */
//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {
    body {
        padding: 0;
        background-image: url("#{$bodyBackgroundImage2}");
        background-repeat: repeat;
        background-position: center;
    }
    body.fixed-layout .container,
    body.fixed-layout .container-fluid {
        background: none;
    }
    header.navbar .navbar-decor {
        background-image: none !important;
    }
    .navbar + .alert.alert-fixed {
        position: static;
    }
    .navbar .brand,
    .sidebar .brand {
        margin-left: $baseMargin / 2;
        background-position: 0 0;
        background-image: url("../img/template_logo2.png");
    }
    img {
        @include size(auto, 100%);
    }
    .user-profile img {
        display: none;
    }
    .sidebar {
        position: static;
        width: auto;
        float: none;
    }
    .content-block {
        margin-left: 0;
        padding: $baseMargin / 3;
    }
    .data-block {
        margin-bottom: $baseMargin / 3;
    }
    header.navbar .navbar-inner {
        height: auto;
    }
    .hero-unit {
        padding: 20px;
        h1 {
            font-size: 40px;
        }
    }
    .fullcalendar {
        .fc-header-space {
            display: none !important;
        }
    }
}

/* Up to landscape phone */
@media (max-width: 480px) {
    .fullcalendar {
        .fc-button-month,
        .fc-button-basicWeek {
            display: none !important;
        }
    }
}
