//
// Responsive: Tablet to desktop
// --------------------------------------------------


/* Portrait tablet to default desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        background-position: -820px 0;
    }
    .sidebar {
        @include size(auto, 225px);
    }
    .content-block {
        margin-left: 256px;
    }
    body.fixed-layout .container,
    body.fixed-layout .container-fluid {
        background: none;
    }
    .user-profile figcaption {
        width: 140px;
    }

    .container {
        width: auto;
        .form-horizontal {
            .control-label {
                float: none;
                width: auto;
                padding-top: 0;
                text-align: left;
            }
            .controls {
                margin-left: 0;
            }
            .control-list {
                padding-top: 0;
            }
            .form-actions {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .input-xlarge,
        .input-xxlarge {
            width: 320px;
        }
    }
}

