//
// Responsive: Large desktop and up
// --------------------------------------------------


/* Responsive styles */
@media (min-width: 1200px) {
    body.fixed-layout {
        background-position: 0 0;
    }
}

