//
// Sidebar
// --------------------------------------------------


/* Sidebar actionbar */
.sidebar-actionbar {
    margin: 0 0 15px;
    @include clearfix();
    @include border-radius($baseBorderRadius);
    @include box-shadow(0 1px 1px rgba(0,0,0,0.33));
    li {
        display: block;
        float: left;
        width: 25%;
        a {
            display: block;
            padding: 4px 0;
            color: #595959;
            font-size: $fontSizeSmall;
            line-height: normal;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255,255,255,0.3);
            @include gradient-vertical(#f2f5ff, #c2c4cc);
            &:hover {
                color: #333;
                @include gradient-vertical($white, #dcdee5);
            }
        }
        &:first-child a {
            @include border-left-radius($baseBorderRadius);
        }
        &:last-child a {
            @include border-right-radius($baseBorderRadius);
        }
        &.active a,
        a:active {
            color: #1a1a1a;
            background: #c2c4cc;
            @include box-shadow(inset 0 2px 4px rgba(0,0,0,.4));
        }
        & + li a {
            border-left: 1px solid #bdbfc7;
        }
    }
}
.ie9 .sidebar-actionbar {
    overflow: hidden;
}

/* Sidebar box */
.sidebar-box {
    margin: 0 0 15px;
    color: #999;
    font-size: $fontSizeMini;
    @include clearfix();
    h2 {
        margin: 0 0 10px;
        font-size: $baseFontSize;
        text-transform: uppercase;
    }
    p {
        margin: 0 0 10px;
        line-height: $baseLineHeight - 2;

    }
    .thumbnail + p,
    .btn + .thumbnail {
        margin-top: 10px;
    }
    .separator {
        padding-top: 8px;
        border-top: 2px solid #404040;
    }
    &.sidebar-light {
        background: $organonLightBlock;
        text-shadow: 0 -1px 0 $black;
        border: 1px solid $organonLightBorder;
        @include box-shadow(0 1px 0 rgba(0,0,0,0.4));
    }
    &.sidebar-dark {
        border: 1px solid $organonDark;
        background: $organonDarkBlock;
        text-shadow: 0 -1px 0 $black;
        @include box-shadow(0 1px 0 rgba(255,255,255,0.15));
    }
    &.sidebar-light,
    &.sidebar-dark {
        padding: 10px 12px;
        @include border-radius($baseBorderRadius);
        .separator {
            border-color: #595959;
        }
    }
    *:last-child {
        margin-bottom: 0;
    }
}

