//
// Sprites
// --------------------------------------------------


/* Icons */
/* Icons are reversed, most of the time you will need white icons, use class icon-black for dark icon set */
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("#{$iconWhiteSpritePath}");
}
.icon-black {
    background-image: url("#{$iconSpritePath}");
}

