//
// Tabs
// --------------------------------------------------


/* Tabs */
.tab-content {
    overflow: visible;
}
.tabbable .tab-content {
    overflow: auto;
}
.nav-tabs {
    border: none;
    & > li {
        margin-bottom: 0;
        & > a {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.tab-note {
    width: 110px;
    margin-top: $baseMargin / 2;
    font-size: $fontSizeMini;
    color: $grayLight;
    p {
        margin: 0;
        line-height: normal;
        & + p {
            margin-top: $baseMargin / 2;
        }
    }
}
.tabs-left,
.tabs-right {
    & > .nav-tabs {
        border: none;
        margin: 0;
        .active > a,
        .active > a:hover {
            color: $white;
            border: none;
            text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        }
        & > li > a {
            min-width: 120px;
            color: $textColor;
            font-weight: bold;
            background-color: transparent;
            border: none;
            margin-bottom: 0;
            @include border-radius(0);
            &:hover {
                color: $linkColor;
                border-color: $white;
                background-color: transparent;
            }
        }
    }
}
.tabs-left {
    .tab-content {
        padding-left: $baseMargin;
        border-left: 2px solid rgba(255,255,255,0.12);
    }
    .tab-note {
        clear: left;
        float: left;
    }
    & > .nav-tabs {
        .active > a,
        .active > a:hover {
            border-right: 2px solid $white;
        }
        & > li > a {
            border-right: 2px solid transparent;
            margin-right: -2px;
        }
    }
}
.tabs-right {
    .tab-content {
        padding-right: $baseMargin;
        border-right: 2px solid rgba(255,255,255,0.12);
    }
    .tab-note {
        clear: right;
        float: right;
    }
    & > .nav-tabs {
        text-align: right;
        .active > a,
        .active > a:hover {
            border-left: 2px solid $white;
        }
        & > li > a {
            border-left: 2px solid transparent;
            margin-left: -2px;
        }
    }
}

/* Fallback for old browsers */
.no-rgba {
    .tabs-left {
        .tab-content {
            border-left: 2px solid #434142;
        }
    }
    .tabs-right {
        .tab-content {
            border-right: 2px solid #434142;
        }
    }
}

