//
// Tables
// --------------------------------------------------


/* Tables */
.table {
    border-top: 1px solid $tableBorder;
    border-bottom: 1px solid $tableBorder;
    margin-bottom: 0;
    .btn-group {
        float: right;
        margin: 0;
    }
    th {
        text-align: center;
        color: $headingsColor;
        background-color: $tableBackgroundHover;
    }
    td,
    th {
        &.toolbar {
            text-align: right;
            padding: 4px;
            .btn-flat {
                padding: 4px 8px;
            }
            & > a span {
                margin-top: 4px;
            }
        }
    }
    & + .row,
    & + .row-fluid {
        margin-top: $baseMargin;
    }
}
.nested {
    table {
        &.table {
            border-color: $organonDark;
            tbody tr {
                background-color: transparent;
            }
            th,
            td {
                border-color: $organonDark;
            }
        }
        &.table-striped {
            tbody {
                tr:nth-child(odd) td,
                tr:nth-child(odd) th {
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}
.table-bordered {
    border-color: $tableBorder;
    th,
    td {
        border-color: $tableBorder;
    }
}
.table-hover {
    tbody {
        tr:hover td,
        tr:hover th {
            background-color: $tableBackgroundHover;
        }
    }
}

/* Fallback for old browsers */
.no-rgba {
    .table {
        th {
            background-color: #232222;
        }
        &.table-striped {
            tbody {
                tr:nth-child(odd) td,
                tr:nth-child(odd) th {
                    background-color: #2e2c2d;
                }
            }
        }
        &.table-hover {
            tbody {
                tr:hover td,
                tr:hover th {
                    background-color: #232222;
                }
            }
        }
    }
    .nested {
        .table {
            th {
                background-color: #1b191a;
            }
            &.table-striped {
                tbody {
                    tr:nth-child(odd) td,
                    tr:nth-child(odd) th {
                        background-color: #222021;
                    }
                }
            }
            &.table-hover {
                tbody {
                    tr:hover td,
                    tr:hover th {
                        background-color: #1b191a;
                    }
                }
            }
        }
    }
}

