//
// Typography
// --------------------------------------------------


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    &:first-child {
        margin-top: 0;
    }
}
h1 {
    font-size: $baseFontSize * 2;
    margin: $baseMargin * 0.8 0;
}
h2 {
    font-size: $baseFontSize * 1.5;
    margin: $baseMargin * 0.6 0;
}
h3 {
    font-size: $baseFontSize * 1.15;
    margin: $baseMargin * 0.4 0;
}
h4 {
    font-size: $baseFontSize;
    margin: $baseMargin * 0.4 0;
}
h5 {
    font-size: $baseFontSize * 0.85;
    text-transform: uppercase;
    margin: $baseMargin * 0.3 0;
}
h6 {
    font-size: $baseFontSize * 0.75;
    text-transform: uppercase;
    margin: $baseMargin * 0.3 0;
}
nav {
    ul,
    ol {
        @include clear-list();
    }
}
p {
    line-height: 140%;
}