//
// Wells
// --------------------------------------------------


/* Wells */
.well {
    border-color: $organonDark;
    @include box-shadow(inset 0 0 3px rgba(0,0,0,0.15));
    &:last-child {
        margin-bottom: 0;
    }
    blockquote {
        border-color: rgba(0,0,0,0.15);
    }
    p {
        margin: 0;
        & + p {
            margin-top: 8px;
        }
    }
}

/* Fallback for old browsers */
.no-rgba {
    .well {
        background-color: $organonBlockBackground;
    }
    .nested .well {
        background-color: $organonLightBlock;
        border-color: $organonLightBorder;
    }
}

