//
// Wizard
// --------------------------------------------------


/* Wizard */
.wizard {
    overflow: visible;
    .stepContainer {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        & > div.content {
            display: block;
            position: absolute;
            text-align: left;
            overflow: visible;
            z-index: 88;
            @include clearfix();
        }
        // Wizard content header
        .StepTitle {
            display: block;
            clear: both;
            text-align: left;
            z-index: 88;
        }
    }
    // Wizard navigation
    ul.anchor {
        margin: 0 0 $baseMargin / 2;
        padding: 3px;
        background-color: $dataNestedBackgroundColor;
        border: 1px solid $organonDark;
        @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset);
        @include border-radius($baseBorderRadius);
        @include clearfix();
        li {
            float: left;
            margin: 0;
            padding: 0;
            display: block;
            height: 65px;
            &:first-child {
                margin: 0;
            }
            @include clearfix();
            a {
                display: block;
                padding: $baseMargin / 5;
                font-size: $baseFontSize + 2;
                height: 50px;
                outline-style: none;
                border: 1px solid transparent;
                @include clearfix();
                z-index: 99;
                .stepNumber {
                    display: block;
                    float: left;
                    padding: 0 5px 0;
                    text-align: center;
                }
                .stepDesc {
                    display: block;
                    float: right;
                    padding: 0 5px 5px 0;
                    small {
                        display: block;
                        margin-top: 2px;
                        max-width: 150px;
                        line-height: normal;
                        color: darken($textColor, 15%);
                        font-size: $fontSizeMini;
                        text-align: left;
                    }
                }
                &.selected {
                    color: $templateColor;
                    background-color: $dataNestedBackgroundColor;
                    border: 1px solid $organonDark;
                    @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset);
                    @include border-radius($baseBorderRadius);
                    cursor: text;
                }
                &.done {
                    color: $templateColor;
                    &:hover {
                        background-color: $dataNestedBackgroundColor;
                        border: 1px solid $organonDark;
                        @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.1) inset);
                        @include border-radius($baseBorderRadius);
                    }
                    .stepDesc {
                        & > span {
                            color: $templateColor;
                            font-weight: normal;
                            text-decoration: line-through;
                        }
                        small {
                            color: $textColor;
                        }
                    }
                }
                &.disabled {
                    color: $textColor;
                    cursor: text;
                    &:hover {
                        color: $templateColor;
                    }
                }
            }
        }
    }
    // Pagination
    & > div.actionBar {
        margin-top:$baseMargin / 3;
        display: block;
        text-align: left;
        overflow: auto;
        z-index: 88;
        @include clearfix();
    }
    .buttonDisabled {
        @extend .btn.disabled;
        cursor: text !important;
    }
    .buttonNext,
    .buttonPrevious,
    .buttonFinish {
        display: block;
        @extend .btn;
        @extend .btn.btn-alt;
        @extend .btn-primary;
    }
    .buttonNext {
        float: right;
        margin-right: 5px;
    }
    .buttonPrevious {
        float: left;
    }
    .buttonFinish {
        float: right;
    }
}
.wizard .loader {
    position: relative;
    display: none;
    float: left;
    margin: 2px 0 0 2px;
    padding: 8px 10px 8px 40px;
    z-index: 998;
}

