//
// Data Blocks
// --------------------------------------------------


/* Data block */
.data-block {
    .pagination {
        float: none;
        margin: $baseMargin / 2 0 0 0;
        text-align: center;
    }
    .data-header-actions > li > h2 {
        padding-left: $baseMargin / 2;
        padding-right: $baseMargin / 2;
    }
}

/* Data block statistics */
.stats {

    .stats-auxilary {
        font-size: 11px;
        font-style: italic;
        margin-left: 24px;
    }

}
