div.notification-panel {
    background: #282627;
    border-bottom: 1px solid #1A1819;
    border-left: 1px solid #1A1819;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0px;
    width: 275px;
    z-index: 999;

    .notification-options {
        padding: 10px;

        .date-picker {
            margin: 10px 0 0 0;

            .input-append { margin-bottom: 0; }
        }
    }

    div.jGrowl,
    div.jGrowl-static {
        position: static;

        .jGrowl-message,
        .jGrowl-static-message {
            .jGrowl-header,
            .jGrowl-static-header { line-height: 1.1em; }

            .jGrowl-date,
            .jGrowl-static-date {
                font-size: .9em;
                font-style: italic;
                line-height: 1.3em;
            }
        }
    }
}

.content-block { margin-right: 276px; }
