//
// Plugins
// --------------------------------------------------


/* jQuery jGrowl */
div.jGrowl-static div.jGrowl-static-notification {
    color: $organonDark;
    background-color: $white;
    text-shadow: none;
    @include box-shadow(0 0 2px rgba(0,0,0,0.5));
    @include border-radius($baseBorderRadius);
    @include opacity(100);
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
div.jGrowl-static div.jGrowl-static-closer {
    background-color: transparent;
    @include border-radius($baseBorderRadius);
    @include opacity(35);
    @include box-shadow(none);
    &:hover {
        @include opacity(100);
    }
}
div.jGrowl-static div {
    &.organon {
        background-color: $organonBlockBackground;
        border: 1px solid $organonDark;
        color: $textColor;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
        @include box-shadow(0 0 0 1px rgba(255,255,255,0.1) inset);
        @include opacity(100);
    }
    &.primary {
        color: $white;
        background-color: $templateColor;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.danger {
        color: $white;
        background-color: $organonRed;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.info {
        color: $white;
        background-color: $organonBlue;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.success {
        color: $white;
        background-color: $organonGreen;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.warning {
        color: $white;
        background-color: $organonYellow;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
    &.inverse {
        color: $white;
        background-color: $organonDark;
        text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }
}