//
// Responsive: Tablet to desktop
// --------------------------------------------------


/* Portrait tablet to default desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        background-position: -820px 0;
    }
}

