//
// Sidebar
// --------------------------------------------------

/* Sidebar box */
.sidebar-box {
    li {
        white-space: pre-line;
        word-wrap: break-word;

        &.top-shelf {
            color: #FFF;

            > strong, > a > strong { text-transform: uppercase; }

            > ul { color: #999; }

            &.collapsed {
                > ul { display: none; }
            }

            a {
                border-bottom: 1px solid #555;
                display: block;
                position: relative;
                text-decoration: none;

                [class*='awe-'] {
                    position: absolute;
                    right: 0px;
                    top: 6px;
                }
            }
        }
    }
}