//
// Socket Log
// --------------------------------------------------


/* Socket log */
.socket-logs-list{
    .entry {
        cursor: pointer;

        &.collapsed {
            ul { display: none; }
        }

        h4 {
            position: relative;

            [class^='awe-chevron-'] {
                position: absolute;
                right: 0px;
                top: 0px;
            }
        }

        ul {
            border-left: 10px solid #999;
            list-style: none;
            margin: 10px 0 10px 20px;
            padding-left: 10px;
        }

        .entry-content,
        .entry-details {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

