{
	"name" : "wallace.io:{{ serverport }}",
	"script" : "server.js",
	"args": "[\"-e\", \"/home/esatterwhite/dev/python/sites-enabled\", \"-b\",\"{{ storagebackend }}\" , \"-p\", \"{{ serverport }}\", \"--verbose\"]",
	"env"    : {

	},
	"exec_mode":"{{ mode }}"
	{% if mode == 'cluster' %}
	,"instances":"{{ servers }}"
	{% endif %}
}
