//
// Style settings
// --------------------------------------------------


// Colors
// --------------------------------------------------
// Grays
$black:                                              #000;
$grayDarker:                                         #222;
$grayDark:                                           #333;
$gray:                                               #555;
$grayLight:                                          #999;
$grayLighter:                                        #eee;
$white:                                              #fff;


// Accent colors
$blue:                                               #049cdb;
$blueDark:                                           #0064cd;
$green:                                              #46a546;
$red:                                                #9d261d;
$yellow:                                             #ffc40d;
$orange:                                             #f89406;
$pink:                                               #c3325f;
$purple:                                             #7a43b6;


// Fast customization
// --------------------------------------------------
// Template colors
$organonGreen:                                       #468847;
$organonRed:                                         #b94a48;
$organonBlue:                                        #3a87ad;
$organonYellow:                                      #c09853;
$organonPurple:                                      #7d628c;
$organonDark:                                        #1a1819;

$organonWhiteLoading:                                "../img/icons/preloader_white.gif";
$organonPurpleLoading:                               "../img/icons/preloader_purple.gif";
$organonRedLoading:                                  "../img/icons/preloader_red.gif";
$organonBlueLoading:                                 "../img/icons/preloader_blue.gif";
$organonGreenLoading:                                "../img/icons/preloader_green.gif";
$organonYellowLoading:                               "../img/icons/preloader_yellow.gif";

$organonBlockBackground:                             #262425;
$organonLightBlock:                                  #3a3839;
$organonLightBorder:                                 #4d4d4d;
$organonDarkBlock:                                   #282627;
$organonDarkBorder:                                  $organonDark;

$templateColor:                                      $organonBlue;
$templateLoading:                                    $organonBlueLoading;
$templateNestedLoading:                              $organonBlueLoading;

$ledRed:                                             #ff3205;
$ledGreen:                                           #5aff00;

$decorStripLeft:                                     '../img/assets/decoration_strip_left.png';
$decorStripLeftFull:                                 '../img/assets/decoration_strip_left_full.png';
$decorStripRight:                                    '../img/assets/decoration_strip_right.png';
$decorStripRightFull:                                '../img/assets/decoration_strip_right_full.png';
$decorChecker:                                       '../img/assets/decoration_checker.png';
$decorHyper:                                         '../img/assets/decoration_hyper.png';



// Globals
// --------------------------------------------------
// Scaffolding
$bodyBackground:                                     $grayDark;
$bodyBackgroundImage:                                "../img/assets/bg_faux_noise.jpg";
$bodyBackgroundImage2:                               "../img/assets/bg_small.jpg";
$textColor:                                          #b2b2b2;
$baseMargin:                                         30px;

// Navigation
$templateLogo:                                       "../img/wallace-logo.png";
$templateLogo2:                                      "../img/wallace-logo.png";
$navigationWidth:                                    380px;
$baseBorderRadius:                                   3px;


// Typography
$sansFontFamily:                                     'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:                                    Georgia, "Times New Roman", Times, serif;
$monoFontFamily:                                     Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:                                       14px;
$baseFontFamily:                                     $sansFontFamily;
$baseLineHeight:                                     20px;
$altFontFamily:                                      $serifFontFamily;

$headingsFontFamily:                                 inherit;
$headingsFontWeight:                                 bold;
$headingsColor:                                      #e5e5e5;


// Component sizing
$fontSizeLarge:                                      $baseFontSize * 1.25; // ~18px
$fontSizeSmall:                                      $baseFontSize * 0.85; // ~12px
$fontSizeMini:                                       $baseFontSize * 0.75; // ~11px

$paddingLarge:                                       11px 19px; // 44px
$paddingSmall:                                       2px 10px;  // 26px
$paddingMini:                                        0px 6px;   // 22px

$baseBorderRadius:                                   4px;
$borderRadiusLarge:                                  6px;
$borderRadiusSmall:                                  3px;


// Links
$linkColor:                                          #e5e5e5;
$linkColorHover:                                     $white;


// Tables
$tableBackground:                                    transparent;
$tableBackgroundAccent:                              rgba(0,0,0,0.1);
$tableBackgroundHover:                               rgba(0,0,0,0.3);
$tableBorder:                                        $organonDark;


// Buttons
$btnBackground:                                      $white;
$btnBackgroundHighlight:                             darken($white, 10%);
$btnBorder:                                          #bbb;

$btnPrimaryBackground:                               lighten($templateColor, 10%);
$btnPrimaryBackgroundHighlight:                      $templateColor;

$btnInfoBackground:                                  lighten($organonBlue, 10%);
$btnInfoBackgroundHighlight:                         $organonBlue;

$btnSuccessBackground:                               lighten($organonGreen, 10%);
$btnSuccessBackgroundHighlight:                      $organonGreen;

$btnWarningBackground:                               lighten($organonYellow, 10%);
$btnWarningBackgroundHighlight:                      $organonYellow;

$btnDangerBackground:                                lighten($organonRed, 8%);
$btnDangerBackgroundHighlight:                       $organonRed;

$btnInverseBackground:                               lighten($organonPurple, 3%);
$btnInverseBackgroundHighlight:                      $organonPurple;


// Forms
$inputHeight:                                        $baseLineHeight + 10px;
$inputBackground:                                    #403e3f;
$inputBorder:                                        $organonDark;
$inputBorderRadius:                                  3px;
$inputDisabledBackground:                            transparent;
$formActionsBackground:                              transparent;
$placeholderText:                                    $grayLighter;


// Form states and alerts
$warningText:                                        #c09853;
$warningBackground:                                  #fcf8e3;
$warningBorder:                                      darken(adjust-hue($warningBackground, -10), 3%);

$errorText:                                          #b94a48;
$errorBackground:                                    #f2dede;
$errorBorder:                                        darken(adjust-hue($errorBackground, -10), 3%);

$successText:                                        #468847;
$successBackground:                                  #dff0d8;
$successBorder:                                      darken(adjust-hue($successBackground, -10), 5%);

$infoText:                                           #3a87ad;
$infoBackground:                                     #d9edf7;
$infoBorder:                                         darken(adjust-hue($infoBackground, -10), 7%);


// Dropdowns
$dropdownBackground:                                 $white;
$dropdownBorder:                                     rgba(0,0,0,.2);
$dropdownDividerTop:                                 #e5e5e5;
$dropdownDividerBottom:                              $white;

$dropdownLinkColor:                                  $grayDark;
$dropdownLinkColorHover:                             $templateColor;
$dropdownLinkColorActive:                            $white;

$dropdownLinkBackgroundActive:                       $templateColor;
$dropdownLinkBackgroundHover:                        $dropdownBackground;


// Icons paths
$iconSpritePath:                                     '../img/icons/glyphicons-halflings.png';
$iconWhiteSpritePath:                                '../img/icons/glyphicons-halflings-white.png';
$iconFamFamFamPath:                                  '../img/icons/famfamfam-icons.png';
$iconEmoticonPath:                                   '../img/icons/emoticons-icons.png';
$elusiveWebfontPath:                                 '../css/font/';
$fontAwesomePath:                                    '../css/font';


// Z-index master list
$zindexDropdown:                                     1000;
$zindexPopover:                                      1010;
$zindexTooltip:                                      1030;
$zindexFixedNavbar:                                  1030;
$zindexModalBackdrop:                                1040;
$zindexModal:                                        1050;


// Componenets
// --------------------------------------------------

// Data block
$dataNestedBackgroundColor:                          rgba(0, 0, 0, 0.2);

// Pagination
$paginationBackground:                               rgba(0,0,0,.2);
$paginationBorder:                                   $organonDark;
$paginationActiveBackground:                         $organonLightBlock;


// Hero unit
$heroUnitBackground:                                 $dataNestedBackgroundColor;
$heroUnitHeadingColor:                               $headingsColor;
$heroUnitLeadColor:                                  inherit;


// Horizontal forms & lists
$horizontalComponentOffset:                          180px;


// Hr border color
$hrBorder:                                           $grayLighter;


// Wells
$wellBackground:                                     $dataNestedBackgroundColor;


// Blockquote
$blockquoteBackground:                               '../img/assets/bg_quote.png';


// Tooltips and popovers
$tooltipColor:                                       #fff;
$tooltipBackground:                                  $organonDark;
$tooltipArrowWidth:                                  5px;
$tooltipArrowColor:                                  $organonDark;

$popoverBackground:                                  $organonDark;
$popoverArrowWidth:                                  10px;
$popoverArrowColor:                                  $organonDark;
$popoverTitleBackground:                             $organonDark;

// Special enhancement for popovers
$popoverArrowOuterWidth:                             $popoverArrowWidth + 1;
$popoverArrowOuterColor:                             rgba(0,0,0,.25);


// Navbar
$navbarCollapseWidth:                                979px;
$navbarCollapseDesktopWidth:                         $navbarCollapseWidth + 1;

$navbarHeight:                                       70px;
$navbarBackground:                                   #2d2d2d;
$navbarBackgroundHighlight:                          #444;
$navbarBorder:                                       darken($navbarBackground, 12%);

$navbarText:                                         $gray;
$navbarLinkColor:                                    $grayLight;
$navbarLinkColorHover:                               $grayLighter;
$navbarLinkColorActive:                              $navbarLinkColorHover;
$navbarLinkBackgroundHover:                          lighten($bodyBackground, 5%);
$navbarLinkBackgroundActive:                         darken($navbarBackground, 5%);

$navbarBrandColor:                                   $navbarLinkColor;

// Inverted navbar
$navbarInverseBackground:                            #111111;
$navbarInverseBackgroundHighlight:                   #222222;
$navbarInverseBorder:                                #252525;

$navbarInverseText:                                  $grayLight;
$navbarInverseLinkColor:                             $grayLight;
$navbarInverseLinkColorHover:                        $white;
$navbarInverseLinkColorActive:                       $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:                   transparent;
$navbarInverseLinkBackgroundActive:                  $navbarInverseBackground;

$navbarInverseSearchBackground:                      lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:                 $white;
$navbarInverseSearchBorder:                          $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:                #ccc;

$navbarInverseBrandColor:                            $navbarInverseLinkColor;


// Main navigation
$navigationColor:                                    #808080;
$navigationLinkColor:                                #999999;

$navLightBorderColor:                                #383838;
$navDarkBorderColor:                                 #1a1a1a;
$navImgBorder:                                       $grayLight;

$subnavBackground:                                   "../img/icons/icon_subnav_listing.png";


// Breadcrumbs
$breadcrumbDivider:                                  '../img/assets/bg_breadcrumb_arrow.png';


// Grid
// --------------------------------------------------
// Default 940px grid
$gridColumns:                                        12;
$gridColumnWidth:                                    60px;
$gridGutterWidth:                                    20px;
$gridRowWidth:                                       ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
$fluidGridColumnWidth:                               percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:                               percentage($gridGutterWidth/$gridRowWidth);

// 1200px min
$gridColumnWidth1200:                                70px;
$gridGutterWidth1200:                                30px;
$gridRowWidth1200:                                   ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));
$fluidGridColumnWidth1200:                           percentage($gridColumnWidth1200/$gridRowWidth1200);
$fluidGridGutterWidth1200:                           percentage($gridGutterWidth1200/$gridRowWidth1200);

// 768px-979px
$gridColumnWidth768:                                 42px;
$gridGutterWidth768:                                 20px;
$gridRowWidth768:                                    ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));
$fluidGridColumnWidth768:                            percentage($gridColumnWidth768/$gridRowWidth768);
$fluidGridGutterWidth768:                            percentage($gridGutterWidth768/$gridRowWidth768);


// Plugins
// --------------------------------------------------
// Plugin: DataTables
$datatablesSortBothImg:                              "../img/plugins/DataTables/sort_both.png";
$datatablesSortAscImg:                               "../img/plugins/DataTables/sort_asc.png";
$datatablesSortDescImg:                              "../img/plugins/DataTables/sort_desc.png";
$datatablesSortAscDisabledImg:                       "../img/plugins/DataTables/sort_asc_disabled.png";
$datatablesSortDescDisabledImg:                      "../img/plugins/DataTables/sort_desc_disabled.png";

// Plugin: jWYSIWYG
$jwysiwygIcons:                                      "../img/plugins/jWYSIWYG/jquery.wysiwyg.gif";

// Plugin: Color picker
$cpSaturation:                                       "../img/plugins/colorpicker/saturation.png";
$cpHue:                                              "../img/plugins/colorpicker/hue.png";
$cpAlpha:                                            "../img/plugins/colorpicker/alpha.png";