{% extends "base.swig" %}

    {% block content %}
        <!-- Main page container -->
        <div class="container-fluid">

            <!-- Left (navigation) side -->
            <div class="sidebar">

                <!-- Main navigation -->
                <nav class="main-navigation" role="navigation">
                    <ul>
                        <li class="{% block nav1cls %}active{% endblock nav1cls %}">
                            <a href="/" class="no-submenu"><span class="awe-plus"></span>Dashboard</a>
                        </li>
                    </ul>
                </nav>
                <!-- /Main navigation -->

                <!-- Sidebar box: Dark -->
                <section class="sidebar-box sidebar-dark">
                    <h2>Wallace.io Options</h2>

                    <p id="options-list">
                        Loading...
                    </p>

                </section>
                <!-- /Sidebar box: Dark -->

            </div>
            <!-- /Left (navigation) side -->

            <!-- Right notification panel -->
            <div class="notification-panel">
                <div class="notification-options">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button id="notificationLive" class="btn btn-primary btn-small active"><i class="awe-bolt"></i> Live!</button>
                        <button id="notificationDate" class="btn btn-info btn-small"><i class="awe-calendar"></i> By Date</button>
                    </div>

                    <i class="awe-exchange"></i>

                    <div id="logLevel" class="btn-group" data-toggle="buttons-radio">
                        <button class="btn btn-info btn-mini">1</button>
                        <button class="btn btn-info btn-mini">2</button>
                        <button class="btn btn-info btn-mini">3</button>
                        <button class="btn btn-info btn-mini">4</button>
                        <button class="btn btn-info btn-mini">5</button>
                    </div>

                    <div id="datePicker" class="date-picker" style="display: none;">
                        <div class="input-append">
                            <input id="dateStart" class="datepicker input-mini" value="04/09/2013" type="text"><span class="add-on"><i class="awe-calendar"></i></span>
                        </div>
                            to
                        <div class="input-append">
                            <input id="dateEnd" class="datepicker input-mini" value="04/10/2013" type="text"><span class="add-on"><i class="awe-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="console-logs-live">
                    <div id="jGrowl"></div>
                </div>

                <div class="console-logs-archive" style="display: none">
                    <div class="jGrowl-static">
                        <div class="text-center">Loading...</div>
                    </div>
                </div>

            </div>
            <!-- /Right notification panel -->

            <!-- Right (content) side -->
            <div class="content-block" role="main">

                <!-- Breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="#"><span class="awe-home"></span></a></li>
                    <li class="active">Dashboard</li>
                </ul>
                <!-- /Breadcrumb -->

                <!-- Page header -->
                <article class="page-header">
                    <h1>Wallace.io Admin</h1>
                    <p>Visual diagnostics of how everything is (or isn't) running. J/K, it's running.</p>
                </article>
                <!-- /Page header -->

                <!-- Dashboard -->
                <ul class="dashboard row-fluid">

                    <!-- Basic dashboard item -->
                    <li class="dashboard-disc">
                        <div class="chart" data-percent="10" id="freemem" >
                            <div>
                                <span >0.5</span>GB<br/>
                                <ul class="dashboard-actions" style="margin-top:3px">
                                    <li class="span10">Free Mem</li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /Basic dashboard item -->

                    <!-- Dashboard item with submenu/toolbar -->
                    <li class="dashboard-disc">
                        <div class="chart" data-percent="30" id="messagerate" >
                            <div>
                                <span >3000</span><br/>
                                <ul class="dashboard-actions" style="margin-top:3px">
                                    <li class="span10">Messages / sec </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <!-- /Dashboard item with submenu/toolbar -->

                    <!-- Dashboard item with circular style -->
                    <li class="dashboard-disc">
                        <div class="chart" data-percent="0" id="memusage" >
                            <div>
                                <span >0</span>%<br/>
                                <ul class="dashboard-actions" style="margin-top:3px">
                                    <li class="span10">Memory Usage</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /Dashboard item with circular style -->

                    <li class="dashboard-disc">
                        <div class="chart" data-percent="20" id="loadavg" >
                            <div>
                                <span >20</span>%<br/>
                                <ul class="dashboard-actions" style="margin-top:3px">
                                    <li class="span10">Load Avg.</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /Dashboard -->

                <!-- Grid row -->
                <div class="row-fluid">

                    <!-- Data block -->
                    <article class="span4 data-block nested">

                        <!-- Data block inner container -->
                        <div class="data-container">

                            <!-- Data block header -->
                            <header>
                                <h2 id="addWorker"><span class="awe-cogs"></span> Workers</h2>
                            </header>
                            <!-- /Data block header -->

                            <!-- Data block content -->
                            <section>

                                <!-- Data block statistics widget -->
                                <div id="worker-list">
                                    <div class="text-center">Loading...</div>
                                </div>
                                <!-- /Data block statistics widget -->                                
                            </section>
                            <!-- /Data block content -->

                        </div>
                        <!-- /Data block inner container -->

                    </article>
                    <!-- /Data block -->

                    <!-- Data block -->
                    <article class="span8 data-block nested">

                        <!-- Data block inner container -->
                        <div class="data-container">

                            <!-- Data block header -->
                            <header>
                                <h2><span class="awe-exchange"></span> Active Sessions</h2>
                                <ul class="data-header-actions">
                                    <li><h2>Clients: <span id="client-count">-</span></h2></li>
                                </ul>
                            </header>
                            <!-- /Data block header -->

                            <!-- Data block content -->
                            <section>

                                <!-- Data block statistics widget -->
                                <div id="session-table">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Session ID</th>
                                                <th>Applications</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"><div class="text-center">Loading...</div></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /Data block statistics widget -->

                            </section>
                            <!-- /Data block content -->

                        </div>
                        <!-- /Data block inner container -->

                    </article>
                    <!-- /Data block -->

                </div>
                <!-- /Grid row -->


                <!-- Grid row -->
                <div class="row-fluid">

                    <!-- Data block -->
                    <article class="span12 data-block nested">
                        <div class="data-container">
                            <header>
                                <h2>Socket Transmission Logs</h2>
                                <ul class="data-header-actions">
                                    <li><a class="btn btn-alt btn-primary socket-reset" href="#" title="Reset">Reset</a></li>
                                    <li><a class="btn btn-alt btn-primary socket-toggle" href="#" title="Toggle">Toggle</a></li>
                                    <li><h2>Logs: <span id="log-count-visible">-</span> / <span id="log-count-total">-</span></h2></li>
                                </ul>
                            </header>
                            <section>
                                <p>Socket transmits data. Data gets logged. We show you the logs.</p>

                                <div id="socket-logs-list" class="socket-logs-list">
                                    <div class="text-center">Loading...</div>
                                </div>

                            </section>
                        </div>
                    </article>
                    <!-- /Data block -->

                </div>
                <!-- /Grid row -->

            </div>
            <!-- /Right (content) side -->

        </div>
        <!-- Main page container -->


        <!-- Block TODO list -->
        <script>
            $(document).ready(function() {

                $('.todo-block input[type="checkbox"]').click(function(){
                    $(this).closest('tr').toggleClass('done');
                });
                $('.todo-block input[type="checkbox"]:checked').closest('tr').addClass('done');

            });
        </script>

        <script>
            $(document).ready(function() {

                $('table.demo').each(function() {
                    var chartType = ''; // Set chart type
                    var chartWidth = $(this).parent().width()*0.95; // Set chart width to 90% of its parent

                    if(chartWidth < 350) {
                        var chartHeight = chartWidth;
                    }else{
                        var chartHeight = chartWidth*0.25;
                    }

                    $(this).hide().visualize({
                        type: $(this).attr('data-chart'),
                        width: chartWidth,
                        height: chartHeight,
                        colors: ['#3a87ad','#b94a48', '#468847']
                    });
                });
            });
        </script>


        <script>
            $(document).ready(function() {
                braveheart(["color"], function( color ){
                    // Sample line chart
                    $('.sparkline.line').sparkline('html', {
                        height: '35px',
                        width: '70px',
                        lineColor: '#e5e5e5',
                        fillColor: '#868585',
                        spotColor: '#3a87ad',
                        minSpotColor: false,
                        maxSpotColor: false,
                        spotRadius: 3
                    });

                    // Sample bar chart
                    $('.sparkline.bar').sparkline([17, 23, 18, 14, 18, 19, 13], {
                        type: 'bar',
                        height: '35px',
                        barWidth: '6px',
                        barColor: '#3a87ad',
                        tooltipValueLookups: {
                        names: {
                            0: 'Monday',
                            1: 'Tuesday',
                            2: 'Wednesday',
                            3: 'Thursday',
                            4: 'Friday',
                            5: 'Saturday',
                            6: 'Sunday'
                            }
                        }
                    });
                    $('.chart').easyPieChart({
                         size:90
                        ,lineWidth:10
                        ,animate:2000
                        ,trackColor:    "#515151"
                        ,scaleColor:    "#515151"
                        ,lineCap : "butt"
                        ,barColor: function(percent) {
                            percent /= 100;
                            var  clr
                                ,now
                                ,then


                            now = new color.Color([
                                                       Math.round(255 * (percent))   // red
                                                     , Math.round(255 - ( 255 * percent  ) )  // green
                                                     , 0  // blue
                                                 ]);
                            then = now.mix( "dimgrey", 55 )

                            return then.toRGB( )
                        }
                    })

                })
            });
        </script>

        <script>
            $(document).ready( function(){

                var headerHeight = 68;

                // Set height and location to the notification area
                var updateNotificationPanel = function( fromTop ){
                    var  topOffset = 2
                        ,notiOpts = $( '.notification-options' ).innerHeight()
                        ,jHeight;

                    if( fromTop > headerHeight )
                        fromTop = 0;
                    else
                        fromTop = headerHeight - fromTop + topOffset;

                    jHeight = window.innerHeight - fromTop;
                    $( '.notification-panel' ).height( jHeight + 'px' ).css('top', fromTop + 'px' );
                    $( '.slimScrollDiv', '.notification-panel' ).height( jHeight - notiOpts + 'px' );
                    $( '#jGrowl', '.console-logs-live' ).height( jHeight - notiOpts + 'px' );
                    $( '.jGrowl-static', '.console-logs-archive' ).height( jHeight - notiOpts + 'px' );

                };
                // Call to update right away
                updateNotificationPanel( 0 );

                // Create the slim scrolling
                $( '#jGrowl' ).slimScroll({
                    height: 'auto'
                    ,distance : '6px'
                    ,railDraggable : false
                });

                $( '.console-logs-archive .jGrowl-static' ).slimScroll({
                    height: 'auto'
                    ,distance : '6px'
                    ,railDraggable : false
                });

                // Event handler for updating the notification panel
                $( '.notification-panel' ).on( 'update.notification', function(){
                    var top = $( window ).scrollTop();
                    updateNotificationPanel( top );
                });

                // Watch for scrolling
                $( window ).on( 'scroll', function(){
                    $( '.notification-panel' ).trigger( 'update.notification' );
                });

                // Customization buttons
                $( '#notificationLive' ).on( 'click', function(){
                    $( '#datePicker' ).hide();
                    $( '.console-logs-archive' ).hide()
                    $( '.console-logs-live' ).show();
                    $( '.notification-panel' ).trigger( 'update.notification' );
                });
                $( '#notificationDate' ).on( 'click', function(){
                    $( '#datePicker' ).show();
                    $( '.notification-panel' ).trigger( 'update.notification' );
                });

                $('#dateEnd').on( 'blur', function( event ){
                    $( '.console-logs-archive .jGrowl-static' ).html( '<div class="text-center">Loading...</div>' );
                    $( '.console-logs-archive' ).show()
                    $( '.console-logs-live' ).hide();
                });

                // Initialize the datepickers
                var nowTemp = new Date();
                var now = new Date( nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                // Date Start
                var startDate = $( '#dateStart' )
                    .datepicker()
                    .on( 'changeDate', function( event ){
                        var newDate = new Date( event.date );

                        newDate.setDate( newDate.getDate() + 1 );
                        endDate.setValue( newDate );

                        startDate.hide();
                    })
                    .data( 'datepicker' );

                // Date End
                var endDate = $( '#dateEnd', '#datePicker' )
                    .datepicker()
                    .on( 'changeDate', function( event ){

                        endDate.hide();
                    })
                    .data( 'datepicker' );

            });
        </script>

    {% endblock content %}
